In [1]:
import os
import docplex
import pandas as pd
import tensorflow as tf
import numpy as np
import utility
import copy
import mlp_explainer
import mymetrics
import time
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets
from sklearn.model_selection import train_test_split
from milp import codify_network
from teste import get_minimal_explanation
from sklearn.metrics import classification_report
from alibi.explainers import AnchorTabular
import joblib
import re
import ast

WARNING:tensorflow:From C:\Users\Mateus\anaconda3\Lib\site-packages\alibi\explainers\cem.py:35: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

In [2]:
np.random.seed(50)
def load_data(dataset_name):
    if dataset_name == 'Iris':
        dataset = datasets.load_iris()
        df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
        scaler = MinMaxScaler()
        scaler.fit(dataset.data)
        scaled_df = scaler.transform(dataset.data)
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns)
        targets = dataset.target
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Banknote':
        df = pd.read_csv('./datasets/banknote_authentication.csv') 
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        #targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        targets = df['target'].values
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Blood_Transfusion':
        df = pd.read_csv('./datasets/blood_transfusion.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Breast_Cancer':
        dataset = datasets.load_breast_cancer()
        df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
        scaler = MinMaxScaler()
        scaler.fit(dataset.data)
        scaled_df = scaler.transform(dataset.data) 
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns)
        targets = (utility.check_targets_0_1(np.where(dataset.target == dataset.target[0],0,1))).astype(np.int32)
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Climate':
        df = pd.read_csv('./datasets/climate_model_simulation_crashes.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = df['target'].values
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Column':
        df = pd.read_csv('./datasets/column_2C.dat', sep=" ", names=['pelvic_incidence', 'pelvic_tilt', 'lumbar_lordosis_angle', 'sacral_slope', 'pelvic_radius', 'degree_spondylolisthesis','target'])
        df['target']=np.where(df['target']=='AB',1,0)
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Glass':
        df = pd.read_csv('./datasets/glass.csv')
        unique_labels = sorted(df['target'].unique())
        label_map = {original: new for new, original in enumerate(unique_labels)}
        df['target'] = df['target'].map(label_map)
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = df['target'].values
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Ionosphere':
        df = pd.read_csv('./datasets/Ionosphere.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        lower_bound = scaled_df.min()
        upper_bound = scaled_df.max()
        print(lower_bound, upper_bound)
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Modeling':
        df = pd.read_csv('./datasets/User_Knowledge_Modeling.csv')
        unique_labels = sorted(df['target'].unique()) 
        label_map = {original: new for new, original in enumerate(unique_labels)}
        df['target'] = df['target'].map(label_map)
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = df['target'].values
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Parkinson':
        df = pd.read_csv('./datasets/parkinsons.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        lower_bound = scaled_df.min()
        upper_bound = scaled_df.max()
        print(lower_bound, upper_bound)
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Pima':
        df = pd.read_csv('./datasets/diabetes.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Sonar':
        df = pd.read_csv('./datasets/sonar.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = df['target'].values
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    elif dataset_name == 'Wine':
        dataset = datasets.load_wine()
        df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
        scaler = MinMaxScaler()
        scaler.fit(dataset.data)
        scaled_df = scaler.transform(dataset.data)
        lower_bound = scaled_df.min()
        upper_bound = scaled_df.max()
        print(lower_bound, upper_bound)
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns)
        targets = dataset.target
        df_scaled['target'] = targets
        columns = df_scaled.columns
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, columns, np.unique(targets)
    else:
        print("Incorrect dataset name")
        
def parse_explanation(explanation, feature_names, epsilon=1e-6):
    bounds = [[0, 1] for _ in range(len(feature_names))]
    conditions = explanation

    for condition in conditions:
        condition_no_space = condition.replace(' ', '')  # for regex matching
        # Check for double inequality
        match = re.match(r'(\d+\.?\d*)\s*(<|<=)\s*([^\s<>]+)\s*(<|<=)\s*(\d+\.?\d*)', condition_no_space)
        
        if match:
            value_1, op1, feature_token, op2, value_2 = match.groups()
            value_1 = float(value_1)
            value_2 = float(value_2)
            lower_bound = value_1 if op1 == '<=' else value_1 + epsilon
            upper_bound = value_2 if op2 == '<=' else value_2
            upper_bound = upper_bound if op2 == '<=' else upper_bound - epsilon

            for idx, feature in enumerate(feature_names):
                if feature.replace(" ", "") in feature_token:
                    bounds[idx] = [lower_bound, upper_bound]
                    break
            continue  # go to next condition

        # Fallback to single operator logic
        for idx, feature in enumerate(feature_names):
            if feature in condition:
                cond_clean = condition.replace('<=', ' LESS_EQUAL ').replace('>=', ' GREATER_EQUAL ')
                cond_clean = cond_clean.replace('<', ' < ').replace('>', ' > ')
                tokens = cond_clean.split()

                tokens = ['<=' if token == 'LESS_EQUAL' else token for token in tokens]
                tokens = ['>=' if token == 'GREATER_EQUAL' else token for token in tokens]

                operator = None
                operator_pos = None
                for i, token in enumerate(tokens):
                    if token in ['>', '>=', '<', '<=']:
                        operator = token
                        operator_pos = i
                        break

                value = None
                if operator is not None and operator_pos is not None:
                    for i in range(operator_pos + 1, len(tokens)):
                        try:
                            value = float(tokens[i])
                            break
                        except ValueError:
                            continue

                if value is not None:
                    if operator == '>':
                        bounds[idx] = [value + epsilon, 1]
                    elif operator == '>=':
                        bounds[idx] = [value, 1]
                    elif operator == '<':
                        bounds[idx] = [0, value - epsilon]
                    elif operator == '<=':
                        bounds[idx] = [0, value]
                else:
                    print(f"Could not extract numeric value from condition: '{condition}'")

    return np.array(bounds)

def predict_fn(x):
        return clf.predict(x, verbose=0)

def train_anchors(dataset_name):
    print(dataset_name)
    clf = tf.keras.models.load_model(f'new_models/{dataset_name}.h5', compile=False)
    print(f'Loaded model')
    X_train, X_test, y_train, y_test,feature_names, class_names = load_data(dataset_name)
    if 'target' in feature_names:
        feature_names = feature_names[feature_names != 'target']
    print(f'feature names:\n {feature_names}')
    print(f'class names:\n {class_names}')
    #predict_fn = lambda x: clf.predict(x)
    explainer = AnchorTabular(predict_fn, feature_names)
    explainer.fit(X_train, disc_perc=(25, 50, 75))
    return explainer, feature_names, class_names

In [3]:
# Compute means and standard deviations
def compute_mean_std(arr):
    return np.mean(arr), np.std(arr)

# Compute relative percentage differences
def relative_percentage_diff(new, old):
    if np.any(old == 0):
        print(f'Warning: found possible division by zero')
        return np.where(old != 0, ((new - old) / old) * 100, np.nan)
    return ((new - old) / old) * 100
            
datasets_name = ['Iris', 'Wine', 'Column', 'Pima', 'Parkinson', 'Breast_Cancer', 'Blood_Transfusion', 'Ionosphere', 'Glass', 'Climate', 'Modeling', 'Banknote', 'Sonar']
p_values=[0.25,0.5,0.75]
for dataset_name in datasets_name:
    for p in p_values:

        path_anchors = f'./Anchors_results/{dataset_name}_results.csv' 
        path_twostep = dataset_name+ f'_results/results_{p}.csv'
        path_twostep_brute = dataset_name+ f'_results/raw_metric_data_{p}.csv'
        np.random.seed(50)
        anchors_brute_results = pd.read_csv(path_anchors)
        twostep_results = pd.read_csv(path_twostep)
        twostep_results_brute = pd.read_csv(path_twostep_brute)
        
        times_anchors = anchors_brute_results['time'].values
        coverage_anchors = anchors_brute_results['coverage'].values
        errors_anchors = anchors_brute_results['errors'].values
        rsum_anchors = anchors_brute_results['rsum'].values
        sizes_anchors = anchors_brute_results['size'].values
        
        times_twostep = twostep_results_brute['times_twostep'].values
        coverage_twostep = twostep_results_brute['coverage_twostep'].values
        rsum_twostep = twostep_results_brute['rsum_twostep'].values
        feature_sizes_twostep = twostep_results_brute['sizes_twostep'].values
        
        
        
        
        
        # Ensure all lists are NumPy arrays
        times_twostep = np.array(times_twostep)
        coverage_twostep = np.array(coverage_twostep)
        sizes_anchors = np.array(sizes_anchors)
        feature_sizes_twostep = np.array(feature_sizes_twostep)
        rsum_anchors = np.array(rsum_anchors)
        rsum_twostep = np.array(rsum_twostep)
        
        
        
        # Compute means and standard deviations
        (time_mean_anchors, time_std_anchors) = compute_mean_std(times_anchors)
        (time_mean_twostep, time_std_twostep) = compute_mean_std(times_twostep)
        
        (coverage_mean_anchors, coverage_std_anchors) = compute_mean_std(coverage_anchors)
        (coverage_mean_twostep, coverage_std_twostep) = compute_mean_std(coverage_twostep)
        
        (sizes_mean_anchors, sizes_std_anchors) = compute_mean_std(sizes_anchors)
        (sizes_mean_twostep, sizes_std_twostep) = compute_mean_std(feature_sizes_twostep)
        
        (rsum_mean_anchors, rsum_std_anchors) = compute_mean_std(rsum_anchors)
        (rsum_mean_twostep, rsum_std_twostep) = compute_mean_std(rsum_twostep)
        
        # Compute relative percentage differences (Mean & Std)
        time_mean_diff = relative_percentage_diff(time_mean_twostep, time_mean_anchors)
        coverage_mean_diff = relative_percentage_diff(coverage_mean_twostep, coverage_mean_anchors)
        
        time_std_diff = relative_percentage_diff(time_std_twostep, time_std_anchors)
        coverage_std_diff = relative_percentage_diff(coverage_std_twostep, coverage_std_anchors)
        
        sizes_mean_diff = relative_percentage_diff(sizes_mean_twostep, sizes_mean_anchors)
        sizes_std_diff = relative_percentage_diff(sizes_std_twostep, sizes_std_anchors)
        
        rsum_mean_diff = relative_percentage_diff(rsum_mean_twostep, rsum_mean_anchors)
        rsum_std_diff = relative_percentage_diff(rsum_std_twostep, rsum_std_anchors)
        
        # Compute pointwise relative differences
        time_relative_pointwise = relative_percentage_diff(times_twostep, times_anchors)
        coverage_relative_pointwise = relative_percentage_diff(coverage_twostep, coverage_anchors)
        
        sizes_relative_pointwise = relative_percentage_diff(feature_sizes_twostep, sizes_anchors)
        rsum_relative_pointwise = relative_percentage_diff(rsum_twostep, rsum_anchors)
        
        # Compute pointwise means
        time_relative_mean = np.mean(time_relative_pointwise) 
        coverage_relative_mean = np.mean(coverage_relative_pointwise)
        sizes_relative_mean = np.mean(sizes_relative_pointwise)
        rsum_relative_mean = np.mean(rsum_relative_pointwise)
        
        # Compute pointwise standard deviations
        time_relative_std = np.std(time_relative_pointwise) 
        coverage_relative_std = np.std(coverage_relative_pointwise)
        sizes_relative_std = np.std(sizes_relative_pointwise)
        rsum_relative_std = np.std(rsum_relative_pointwise)
        
        # Organize Data
        all_metrics_data = all_metrics_data = {
            'Metric': ['Time', 'Size', 'Ranges_Sum', 'Coverage'],
            'ANCHORS_MEAN': [time_mean_anchors, sizes_mean_anchors, rsum_mean_anchors, coverage_mean_anchors],
            'ANCHORS_STD': [time_std_anchors, sizes_std_anchors, rsum_std_anchors, coverage_std_anchors],
            'TWOSTEP_MEAN': [time_mean_twostep, sizes_mean_twostep, rsum_mean_twostep, coverage_mean_twostep],
            'TWOSTEP_STD': [time_std_twostep, sizes_std_twostep, rsum_std_twostep, coverage_std_twostep],
            'MEAN_DIFF_%': [time_mean_diff, sizes_mean_diff, rsum_mean_diff, coverage_mean_diff],
            'STD_DIFF_%': [time_std_diff, sizes_std_diff, rsum_std_diff, coverage_std_diff],
            'POINTWISE_MEAN_%': [time_relative_mean, sizes_relative_mean, rsum_relative_mean, coverage_relative_mean],
            'POINTWISE_STD_%': [time_relative_std, sizes_relative_std, rsum_relative_std, coverage_relative_std],
            'ANCHORS_ERROR_RATE_MEAN%': [None, None, None, np.mean(errors_anchors/coverage_anchors)*100],
            'ANCHORS_ERROR_RATE_STD%': [None, None, None, np.std(errors_anchors/coverage_anchors)*100],
            
        }
        # Display and save
        all_metrics_df = pd.DataFrame(all_metrics_data)
        display(all_metrics_df)
        print(errors_anchors.sum())
        all_metrics_df.to_csv(f'Anchors_vs_Twostep_Results/Original_{dataset_name}_{p}_results.csv', index=False)

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,2.087869,1.486237,0.210201,0.041603,-89.932279,-97.200813,-83.129577,11.228967,NaN,NaN
1,Size,2.548673,0.798130,2.831858,0.677092,11.111111,-15.165154,16.740413,31.464882,NaN,NaN
2,Ranges_Sum,2.563804,0.487509,2.123596,0.646440,-17.170108,32.600602,-18.223531,16.110519,NaN,NaN
3,Coverage,25.725664,12.588271,21.814159,12.213839,-15.204678,-2.974454,6.529770,139.380346,0.409422,2.206319

22

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,2.087869,1.486237,0.204652,0.032748,-90.198024,-97.796580,-83.260652,11.495613,NaN,NaN
1,Size,2.548673,0.798130,2.831858,0.677092,11.111111,-15.165154,16.740413,31.464882,NaN,NaN
2,Ranges_Sum,2.563804,0.487509,2.144209,0.631354,-16.366100,29.506064,-17.201897,16.154997,NaN,NaN
3,Coverage,25.725664,12.588271,22.761062,11.812903,-11.523908,-6.159446,10.537214,138.611700,0.409422,2.206319

22

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,2.087869,1.486237,0.210011,0.035523,-89.941378,-97.609860,-82.498392,12.520677,NaN,NaN
1,Size,2.548673,0.798130,2.831858,0.677092,11.111111,-15.165154,16.740413,31.464882,NaN,NaN
2,Ranges_Sum,2.563804,0.487509,2.134213,0.652762,-16.755992,33.897408,-17.679882,17.586906,NaN,NaN
3,Coverage,25.725664,12.588271,22.646018,12.947765,-11.971104,2.855783,9.111438,142.528333,0.409422,2.206319

22

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,8.023775,3.929164,0.706024,0.092912,-91.200849,-97.635312,-88.706806,5.963685,NaN,NaN
1,Size,2.813433,0.624953,9.858209,1.159986,250.397878,85.611779,263.573205,78.360513,NaN,NaN
2,Ranges_Sum,11.144327,0.367640,5.983612,0.924304,-46.307999,151.415807,-46.224957,8.603303,NaN,NaN
3,Coverage,14.955224,9.105407,1.000000,0.000000,-93.313373,-100.000000,-80.528841,30.444716,2.013603,5.271598

43

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,8.023775,3.929164,0.706936,0.063824,-91.189482,-98.375646,-88.639953,6.037449,NaN,NaN
1,Size,2.813433,0.624953,9.858209,1.159986,250.397878,85.611779,263.573205,78.360513,NaN,NaN
2,Ranges_Sum,11.144327,0.367640,6.025076,0.789022,-45.935935,114.618220,-45.858458,7.433216,NaN,NaN
3,Coverage,14.955224,9.105407,1.007463,0.086064,-93.263473,-99.054805,-80.379587,30.495924,2.013603,5.271598

43

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,8.023775,3.929164,0.713470,0.064879,-91.108056,-98.348793,-88.559915,6.057000,NaN,NaN
1,Size,2.813433,0.624953,9.858209,1.159986,250.397878,85.611779,263.573205,78.360513,NaN,NaN
2,Ranges_Sum,11.144327,0.367640,6.058404,0.733042,-45.636875,99.391334,-45.564381,6.932908,NaN,NaN
3,Coverage,14.955224,9.105407,1.000000,0.000000,-93.313373,-100.000000,-80.528841,30.444716,2.013603,5.271598

43

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,2.291400,1.989813,0.243452,0.045732,-89.375400,-97.701693,-78.491776,15.183230,NaN,NaN
1,Size,2.725322,0.922817,4.030043,1.295071,47.874016,40.338934,51.824034,40.453132,NaN,NaN
2,Ranges_Sum,4.622230,0.910096,3.872003,1.358469,-16.230853,49.266600,-18.545183,17.808878,NaN,NaN
3,Coverage,37.171674,21.165517,14.339056,13.612386,-61.424778,-35.686021,-57.227846,46.350533,1.026825,3.14264

65

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,2.291400,1.989813,0.239991,0.035038,-89.526433,-98.239137,-78.540640,15.222666,NaN,NaN
1,Size,2.725322,0.922817,4.030043,1.295071,47.874016,40.338934,51.824034,40.453132,NaN,NaN
2,Ranges_Sum,4.622230,0.910096,3.873314,1.359111,-16.202497,49.337196,-18.520040,17.827090,NaN,NaN
3,Coverage,37.171674,21.165517,14.412017,13.733273,-61.228496,-35.114873,-57.819645,43.977332,1.026825,3.14264

65

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,2.291400,1.989813,0.243819,0.040734,-89.359394,-97.952877,-78.085661,15.644150,NaN,NaN
1,Size,2.725322,0.922817,4.030043,1.295071,47.874016,40.338934,51.824034,40.453132,NaN,NaN
2,Ranges_Sum,4.622230,0.910096,3.872009,1.366092,-16.230724,50.104172,-18.582531,18.004289,NaN,NaN
3,Coverage,37.171674,21.165517,13.742489,13.569492,-63.029673,-35.888682,-60.721096,40.993758,1.026825,3.14264

65

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.523965,1.594687,0.378626,0.167372,-75.155187,-89.504427,-55.965223,30.668163,NaN,NaN
1,Size,3.239583,1.327420,5.630208,0.968456,73.794212,-27.042246,95.496238,62.662302,NaN,NaN
2,Ranges_Sum,6.311422,0.624293,4.426368,0.589442,-29.867339,-5.582500,-29.312207,11.332151,NaN,NaN
3,Coverage,67.001736,48.402842,8.904514,9.407236,-86.710025,-80.564703,-80.053434,55.148309,1.88276,4.420918

527

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.523965,1.594687,0.390333,0.076269,-74.387027,-95.217286,-53.831639,31.001549,NaN,NaN
1,Size,3.239583,1.327420,5.630208,0.968456,73.794212,-27.042246,95.496238,62.662302,NaN,NaN
2,Ranges_Sum,6.311422,0.624293,4.436057,0.590912,-29.713825,-5.346932,-29.146583,11.432503,NaN,NaN
3,Coverage,67.001736,48.402842,8.772569,9.632772,-86.906952,-80.098748,-80.005566,56.066395,1.88276,4.420918

527

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.523965,1.594687,0.385721,0.068017,-74.689662,-95.734775,-54.307208,31.005119,NaN,NaN
1,Size,3.239583,1.327420,5.630208,0.968456,73.794212,-27.042246,95.496238,62.662302,NaN,NaN
2,Ranges_Sum,6.311422,0.624293,4.427186,0.586671,-29.854392,-6.026350,-29.279415,11.406860,NaN,NaN
3,Coverage,67.001736,48.402842,8.097222,9.204897,-87.914907,-80.982734,-81.349485,55.264776,1.88276,4.420918

527

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,5.408236,4.379092,1.306123,0.276007,-75.849364,-93.697175,-62.846751,23.342468,NaN,NaN
1,Size,2.231293,0.452777,14.176871,3.662089,535.365854,708.805936,545.634921,170.700430,NaN,NaN
2,Ranges_Sum,21.009930,0.485134,13.780385,3.168774,-34.410135,553.174402,-34.593443,14.493201,NaN,NaN
3,Coverage,35.061224,18.556853,1.034014,0.215551,-97.050834,-98.838431,-94.768896,7.361514,3.022008,6.627396

85

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,5.408236,4.379092,1.388883,0.327514,-74.319116,-92.520971,-60.686476,24.973399,NaN,NaN
1,Size,2.231293,0.452777,14.176871,3.662089,535.365854,708.805936,545.634921,170.700430,NaN,NaN
2,Ranges_Sum,21.009930,0.485134,13.816734,3.096447,-34.237125,538.265706,-34.415691,14.133126,NaN,NaN
3,Coverage,35.061224,18.556853,1.027211,0.200190,-97.070237,-98.921209,-94.786339,7.364774,3.022008,6.627396

85

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,5.408236,4.379092,1.397073,0.349290,-74.167678,-92.023698,-60.668398,25.124618,NaN,NaN
1,Size,2.231293,0.452777,14.176871,3.662089,535.365854,708.805936,545.634921,170.700430,NaN,NaN
2,Ranges_Sum,21.009930,0.485134,13.867383,3.061762,-33.996054,531.116106,-34.169723,13.968628,NaN,NaN
3,Coverage,35.061224,18.556853,1.027211,0.200190,-97.070237,-98.921209,-94.786339,7.364774,3.022008,6.627396

85

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,22.464260,7.189438,3.024703,0.557633,-86.535488,-92.243724,-84.641206,6.920141,NaN,NaN
1,Size,2.231850,0.479185,20.419204,3.566682,814.900315,644.323251,833.185012,170.337228,NaN,NaN
2,Ranges_Sum,28.603184,0.537550,16.809007,2.440706,-41.233793,354.042592,-41.298300,7.932820,NaN,NaN
3,Coverage,88.025761,28.760121,1.067916,0.338859,-98.786815,-98.821775,-98.551256,1.032562,0.618781,2.464227

161

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,22.464260,7.189438,3.197485,0.619600,-85.766346,-91.381802,-83.737782,7.469736,NaN,NaN
1,Size,2.231850,0.479185,20.419204,3.566682,814.900315,644.323251,833.185012,170.337228,NaN,NaN
2,Ranges_Sum,28.603184,0.537550,16.960737,2.169229,-40.703326,303.539930,-40.773048,6.859213,NaN,NaN
3,Coverage,88.025761,28.760121,1.067916,0.331876,-98.786815,-98.846056,-98.551531,1.029364,0.618781,2.464227

161

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,22.464260,7.189438,3.421303,0.731675,-84.770017,-89.822915,-82.381041,8.934423,NaN,NaN
1,Size,2.231850,0.479185,20.419204,3.566682,814.900315,644.323251,833.185012,170.337228,NaN,NaN
2,Ranges_Sum,28.603184,0.537550,17.074700,2.000323,-40.304897,272.118453,-40.376073,6.181322,NaN,NaN
3,Coverage,88.025761,28.760121,1.067916,0.331876,-98.786815,-98.846056,-98.553287,1.026330,0.618781,2.464227

161

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.360701,0.353367,0.156106,0.020387,-56.721391,-94.230642,-42.490736,25.277061,NaN,NaN
1,Size,1.126560,0.454752,1.882353,0.557297,67.088608,22.549736,75.609031,54.127521,NaN,NaN
2,Ranges_Sum,3.281550,0.297948,2.723500,0.266390,-17.005685,-10.591870,-16.261242,11.517654,NaN,NaN
3,Coverage,335.602496,109.383822,157.780749,122.774753,-52.985824,12.242149,-44.465043,78.145822,2.471445,11.362584

1563

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.360701,0.353367,0.156379,0.017770,-56.645690,-94.971176,-42.512542,24.738771,NaN,NaN
1,Size,1.126560,0.454752,1.882353,0.557297,67.088608,22.549736,75.609031,54.127521,NaN,NaN
2,Ranges_Sum,3.281550,0.297948,2.727405,0.266695,-16.886705,-10.489532,-16.143409,11.511548,NaN,NaN
3,Coverage,335.602496,109.383822,162.463458,127.680832,-51.590510,16.727345,-43.108253,78.531415,2.471445,11.362584

1563

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.360701,0.353367,0.158491,0.022224,-56.060323,-93.710779,-41.623849,26.171296,NaN,NaN
1,Size,1.126560,0.454752,1.882353,0.557297,67.088608,22.549736,75.609031,54.127521,NaN,NaN
2,Ranges_Sum,3.281550,0.297948,2.722890,0.267647,-17.024295,-10.170031,-16.279419,11.546810,NaN,NaN
3,Coverage,335.602496,109.383822,157.188948,122.892269,-53.162163,12.349584,-44.838732,77.984011,2.471445,11.362584

1563

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,24.512422,5.641792,4.024438,1.220114,-83.582046,-78.373644,-82.628791,7.079690,NaN,NaN
1,Size,3.208333,0.490600,25.731061,4.367539,702.007084,790.244863,715.378788,167.253964,NaN,NaN
2,Ranges_Sum,31.595907,0.653577,14.927783,2.821237,-52.754060,331.660872,-52.706839,9.203968,NaN,NaN
3,Coverage,17.746212,19.401655,1.007576,0.086709,-94.322305,-99.553087,-61.584515,42.997919,8.155805,13.965382

388

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,24.512422,5.641792,4.555437,1.641738,-81.415803,-70.900419,-80.369845,8.972608,NaN,NaN
1,Size,3.208333,0.490600,25.731061,4.367539,702.007084,790.244863,715.378788,167.253964,NaN,NaN
2,Ranges_Sum,31.595907,0.653577,15.169154,2.513200,-51.990131,284.529948,-51.939125,8.270913,NaN,NaN
3,Coverage,17.746212,19.401655,1.007576,0.086709,-94.322305,-99.553087,-61.584515,42.997919,8.155805,13.965382

388

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,24.512422,5.641792,4.948519,1.710296,-79.812198,-69.685230,-78.592310,9.635048,NaN,NaN
1,Size,3.208333,0.490600,25.731061,4.367539,702.007084,790.244863,715.378788,167.253964,NaN,NaN
2,Ranges_Sum,31.595907,0.653577,15.428182,2.256260,-51.170313,245.217162,-51.118315,7.493618,NaN,NaN
3,Coverage,17.746212,19.401655,1.007576,0.086709,-94.322305,-99.553087,-61.584515,42.997919,8.155805,13.965382

388

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.232323,3.862357,0.522644,0.117027,-87.651122,-96.970060,-81.720900,9.828534,NaN,NaN
1,Size,4.223602,1.626547,6.658385,1.028208,57.647059,-36.785811,73.864734,49.969278,NaN,NaN
2,Ranges_Sum,6.809687,1.328090,3.719003,0.779806,-45.386586,-41.283612,-43.201424,16.406725,NaN,NaN
3,Coverage,14.055901,8.280973,2.515528,2.343501,-82.103403,-71.700179,-72.624215,31.077673,10.565159,15.45881

200

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.232323,3.862357,0.501423,0.102174,-88.152531,-97.354615,-82.311461,9.798495,NaN,NaN
1,Size,4.223602,1.626547,6.658385,1.028208,57.647059,-36.785811,73.864734,49.969278,NaN,NaN
2,Ranges_Sum,6.809687,1.328090,3.697565,0.796975,-45.701403,-39.990919,-43.558677,16.415449,NaN,NaN
3,Coverage,14.055901,8.280973,2.273292,2.091056,-83.826779,-74.748664,-75.260629,26.851019,10.565159,15.45881

200

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.232323,3.862357,0.510757,0.146042,-87.931982,-96.218843,-82.132081,9.928298,NaN,NaN
1,Size,4.223602,1.626547,6.658385,1.028208,57.647059,-36.785811,73.864734,49.969278,NaN,NaN
2,Ranges_Sum,6.809687,1.328090,3.680875,0.797784,-45.946482,-39.929979,-43.772904,16.521225,NaN,NaN
3,Coverage,14.055901,8.280973,1.751553,1.686744,-87.538665,-79.631086,-78.840503,25.915744,10.565159,15.45881

200

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.734643,1.549780,0.810320,0.180841,10.301288,-88.331190,90.733962,111.587051,NaN,NaN
1,Size,1.204938,0.968632,10.269136,2.753074,752.254098,184.223040,847.476805,300.517088,NaN,NaN
2,Ranges_Sum,17.303827,0.588895,12.307182,1.114568,-28.875954,89.264345,-28.868418,6.078882,NaN,NaN
3,Coverage,150.469136,71.438221,1.049383,0.227777,-99.302593,-99.681155,-98.168526,9.814798,0.198173,0.440524

148

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.734643,1.549780,0.836762,0.271684,13.900525,-82.469518,96.672502,121.737455,NaN,NaN
1,Size,1.204938,0.968632,10.269136,2.753074,752.254098,184.223040,847.476805,300.517088,NaN,NaN
2,Ranges_Sum,17.303827,0.588895,12.316209,1.077806,-28.823784,83.021722,-28.816828,5.847552,NaN,NaN
3,Coverage,150.469136,71.438221,1.049383,0.227777,-99.302593,-99.681155,-98.168526,9.814798,0.198173,0.440524

148

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.734643,1.549780,0.803655,0.128826,9.394045,-91.687471,88.675322,103.246229,NaN,NaN
1,Size,1.204938,0.968632,10.269136,2.753074,752.254098,184.223040,847.476805,300.517088,NaN,NaN
2,Ranges_Sum,17.303827,0.588895,12.343001,1.019936,-28.668954,73.194945,-28.661764,5.490952,NaN,NaN
3,Coverage,150.469136,71.438221,1.049383,0.227777,-99.302593,-99.681155,-98.165986,9.815576,0.198173,0.440524

148

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.747457,1.923437,0.226798,0.042042,-87.021247,-97.814235,-64.227424,24.382536,NaN,NaN
1,Size,3.198020,1.210677,2.709571,0.951709,-15.273478,-21.390344,-7.442244,39.254534,NaN,NaN
2,Ranges_Sum,3.122341,0.717889,3.226919,0.638816,3.349322,-11.014678,6.876408,24.815326,NaN,NaN
3,Coverage,25.287129,21.836931,13.910891,10.696009,-44.988254,-51.018718,14.713346,232.286006,1.367814,5.017888

89

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.747457,1.923437,0.232638,0.045318,-86.687031,-97.643896,-63.221020,25.871931,NaN,NaN
1,Size,3.198020,1.210677,2.709571,0.951709,-15.273478,-21.390344,-7.442244,39.254534,NaN,NaN
2,Ranges_Sum,3.122341,0.717889,3.226647,0.626463,3.340638,-12.735344,6.964742,24.910822,NaN,NaN
3,Coverage,25.287129,21.836931,14.455446,10.985011,-42.834769,-49.695263,22.052227,241.710592,1.367814,5.017888

89

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.747457,1.923437,0.235840,0.048332,-86.503810,-97.487228,-63.047233,25.170974,NaN,NaN
1,Size,3.198020,1.210677,2.709571,0.951709,-15.273478,-21.390344,-7.442244,39.254534,NaN,NaN
2,Ranges_Sum,3.122341,0.717889,3.248029,0.623852,4.025435,-13.099126,7.775639,25.532868,NaN,NaN
3,Coverage,25.287129,21.836931,14.141914,10.882040,-44.074654,-50.166805,17.253412,241.334846,1.367814,5.017888

89

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.812010,0.607736,0.196367,0.025525,-75.817134,-95.800049,-56.782644,31.978007,NaN,NaN
1,Size,2.547133,1.069483,2.905734,0.546973,14.078596,-48.856278,39.269517,69.222769,NaN,NaN
2,Ranges_Sum,2.589435,0.522146,2.325077,0.285137,-10.209100,-45.391430,-7.334689,19.317799,NaN,NaN
3,Coverage,125.729835,89.547208,33.339164,31.560678,-73.483490,-64.755263,-67.536517,34.876771,0.275976,1.31586

332

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.812010,0.607736,0.199537,0.025943,-75.426797,-95.731266,-55.881924,32.932348,NaN,NaN
1,Size,2.547133,1.069483,2.905734,0.546973,14.078596,-48.856278,39.269517,69.222769,NaN,NaN
2,Ranges_Sum,2.589435,0.522146,2.325080,0.289548,-10.208998,-44.546535,-7.353270,19.350424,NaN,NaN
3,Coverage,125.729835,89.547208,33.853256,32.210267,-73.074604,-64.029848,-67.414820,32.905241,0.275976,1.31586

332

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.812010,0.607736,0.197209,0.027679,-75.713467,-95.445567,-56.824380,31.453576,NaN,NaN
1,Size,2.547133,1.069483,2.905734,0.546973,14.078596,-48.856278,39.269517,69.222769,NaN,NaN
2,Ranges_Sum,2.589435,0.522146,2.319545,0.294273,-10.422725,-43.641671,-7.591309,19.383436,NaN,NaN
3,Coverage,125.729835,89.547208,31.046647,31.587750,-75.306858,-64.725031,-70.681286,35.685763,0.275976,1.31586

332

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,52.133000,12.733375,125.712468,99.375159,141.137989,680.430624,155.344067,227.197852,NaN,NaN
1,Size,2.891026,0.311607,51.282051,3.864359,1673.835920,1140.138417,1702.136752,295.344443,NaN,NaN
2,Ranges_Sum,57.106087,0.936839,28.553896,5.548288,-49.998507,492.234881,-49.989152,9.739459,NaN,NaN
3,Coverage,2.480769,3.386381,1.000000,0.000000,-59.689922,-100.000000,-22.387854,34.986236,1.992847,9.088074

24

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,52.133000,12.733375,190.585718,143.844006,265.575966,1029.661261,291.822269,360.662991,NaN,NaN
1,Size,2.891026,0.311607,51.282051,3.864359,1673.835920,1140.138417,1702.136752,295.344443,NaN,NaN
2,Ranges_Sum,57.106087,0.936839,29.466712,4.195723,-48.400050,347.859444,-48.393135,7.357507,NaN,NaN
3,Coverage,2.480769,3.386381,1.000000,0.000000,-59.689922,-100.000000,-22.387854,34.986236,1.992847,9.088074

24

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,52.133000,12.733375,253.226202,189.480429,385.731115,1388.061315,423.524325,500.794939,NaN,NaN
1,Size,2.891026,0.311607,51.282051,3.864359,1673.835920,1140.138417,1702.136752,295.344443,NaN,NaN
2,Ranges_Sum,57.106087,0.936839,29.931899,4.009877,-47.585449,328.021878,-47.569592,7.085470,NaN,NaN
3,Coverage,2.480769,3.386381,1.000000,0.000000,-59.689922,-100.000000,-22.387854,34.986236,1.992847,9.088074

24