In [1]:
from pulp import *
from pulp import LpProblem, LpVariable, LpMinimize, LpInteger, lpSum, value, LpBinary,LpStatusOptimal
import pulp
import numpy as np
import pandas as pd
import time
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings("ignore", message="Overwriting previously set objective.")
import utility
import docplex.mp.model
import docplex
import docplex_explainer
import mymetrics
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import seaborn as sns
import joblib
import dill
from alibi.explainers import AnchorTabular

WARNING:tensorflow:From C:\Users\Mateus\anaconda3\Lib\site-packages\alibi\explainers\cem.py:35: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

In [2]:
def load_data(dataset_name):
    if dataset_name == 'Iris':
        # Load Dataset
        dataset = datasets.load_iris()
        df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
        # Scale
        scaler = MinMaxScaler()
        scaler.fit(dataset.data)
        scaled_df = scaler.transform(dataset.data)
        # Check if binary targets
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns)
        targets = (utility.check_targets_0_1(np.where(dataset.target == dataset.target[0],0,1))).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Banknote':
        # Load Dataset
        df = pd.read_csv('./datasets/banknote_authentication.csv')
        # Scale
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Blood_Transfusion':
        df = pd.read_csv('./datasets/blood_transfusion.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Breast_Cancer':
        dataset = datasets.load_breast_cancer()
        df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
        scaler = MinMaxScaler()
        scaler.fit(dataset.data)
        scaled_df = scaler.transform(dataset.data)
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns)
        targets = (utility.check_targets_0_1(np.where(dataset.target == dataset.target[0],0,1))).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Climate':
        df = pd.read_csv('./datasets/climate_model_simulation_crashes.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Glass':
        df = pd.read_csv('./datasets/glass.csv')
        df['target'] = df['target'].apply(lambda x: 1 if x in [1, 2, 3] else 0)
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Ionosphere':
        df = pd.read_csv('./datasets/ionosphere.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Modeling':
        df = pd.read_csv('./datasets/User_Knowledge_Modeling.csv')
        df['target'] = df['target'].apply(lambda x: 1 if x == 'Low' else 0)
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)

    elif dataset_name == 'Parkinsons':
        df = pd.read_csv('./datasets/parkinsons.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)

    elif dataset_name == 'Pima':
        df = pd.read_csv('./datasets/diabetes.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)

    elif dataset_name == 'Sonar':
        df = pd.read_csv('./datasets/sonar.csv')
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
    elif dataset_name == 'Wine':
        dataset = datasets.load_wine()
        df = pd.DataFrame(dataset.data, columns = dataset.feature_names)
        scaler = MinMaxScaler()
        scaler.fit(dataset.data)
        scaled_df = scaler.transform(dataset.data)
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns)
        targets = (utility.check_targets_0_1(np.where(dataset.target == dataset.target[0],0,1))).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)

    elif dataset_name == 'Vertebral-Column':
        dataset_name = 'Vertebral-Column'
        df = pd.read_csv('./datasets/column_2C.dat', sep=" ", names=['pelvic_incidence', 'pelvic_tilt', 'lumbar_lordosis_angle', 'sacral_slope', 'pelvic_radius', 'degree_spondylolisthesis','target'])
        df['target']=np.where(df['target']=='AB',1,0)
        scaler = MinMaxScaler()
        scaler.fit(df.values[:, :-1])
        scaled_df = scaler.transform(df.values[:, :-1])
        df_scaled = pd.DataFrame(scaled_df, columns=df.columns[:-1])
        targets = (utility.check_targets_0_1(df.values[:,-1])).astype(np.int32)
        df_scaled['target'] = targets
        X_train, X_test, y_train, y_test = train_test_split(scaled_df, targets, test_size=0.75,random_state=50,stratify=targets)
        return X_train, X_test, y_train, y_test, df.columns.values, np.unique(targets)
        
    else:
        print("Incorrect dataset name")

def parse_explanation(explanation, feature_names, epsilon=1e-6):
    bounds = [[0, 1] for _ in range(len(feature_names))]
    conditions = explanation

    for condition in conditions:
        condition_no_space = condition.replace(' ', '')  # for regex matching
        # Check for double inequality
        match = re.match(r'(\d+\.?\d*)\s*(<|<=)\s*([^\s<>]+)\s*(<|<=)\s*(\d+\.?\d*)', condition_no_space)
        
        if match:
            value_1, op1, feature_token, op2, value_2 = match.groups()
            value_1 = float(value_1)
            value_2 = float(value_2)
            lower_bound = value_1 if op1 == '<=' else value_1 + epsilon
            upper_bound = value_2 if op2 == '<=' else value_2
            upper_bound = upper_bound if op2 == '<=' else upper_bound - epsilon

            for idx, feature in enumerate(feature_names):
                if feature.replace(" ", "") in feature_token:
                    bounds[idx] = [lower_bound, upper_bound]
                    break
            continue  # go to next condition

        # Fallback to single operator logic
        for idx, feature in enumerate(feature_names):
            if feature in condition:
                cond_clean = condition.replace('<=', ' LESS_EQUAL ').replace('>=', ' GREATER_EQUAL ')
                cond_clean = cond_clean.replace('<', ' < ').replace('>', ' > ')
                tokens = cond_clean.split()

                tokens = ['<=' if token == 'LESS_EQUAL' else token for token in tokens]
                tokens = ['>=' if token == 'GREATER_EQUAL' else token for token in tokens]

                operator = None
                operator_pos = None
                for i, token in enumerate(tokens):
                    if token in ['>', '>=', '<', '<=']:
                        operator = token
                        operator_pos = i
                        break

                value = None
                if operator is not None and operator_pos is not None:
                    for i in range(operator_pos + 1, len(tokens)):
                        try:
                            value = float(tokens[i])
                            break
                        except ValueError:
                            continue

                if value is not None:
                    if operator == '>':
                        bounds[idx] = [value + epsilon, 1]
                    elif operator == '>=':
                        bounds[idx] = [value, 1]
                    elif operator == '<':
                        bounds[idx] = [0, value - epsilon]
                    elif operator == '<=':
                        bounds[idx] = [0, value]
                else:
                    print(f"Could not extract numeric value from condition: '{condition}'")

    return np.array(bounds)
def train_anchors(dataset_name):
    print(dataset_name)
    clf = joblib.load(f'models/{dataset_name}_svm_model.pkl')
    print(f'Loaded model')
    X_train, X_test, y_train, y_test,feature_names, class_names = load_data(dataset_name)
    if 'target' in feature_names:
        feature_names = feature_names[feature_names != 'target']
    print(f'feature names:\n {feature_names}')
    print(f'class names:\n {class_names}')
    predict_fn = lambda x: clf.predict(x)
    explainer = AnchorTabular(predict_fn, feature_names)
    explainer.fit(X_train, disc_perc=(25, 50, 75))
    return explainer, feature_names, class_names
    
# Compute means and standard deviations
def compute_mean_std(arr):
    return np.mean(arr), np.std(arr)

# Compute relative percentage differences
def relative_percentage_diff(new, old):
    if np.any(old == 0):
        print(f'Warning: found possible division by zero')
        return np.where(old != 0, ((new - old) / old) * 100, np.nan)
    return ((new - old) / old) * 100

In [3]:
datasets_name = ['Iris', 'Wine', 'Vertebral-Column', 'Pima', 'Parkinsons', 'Breast_Cancer', 'Blood_Transfusion', 'Ionosphere', 'Glass', 'Climate', 'Modeling', 'Banknote', 'Sonar']
p_values = [0.25,0.5,0.75]
for dataset_name in datasets_name:
    for p in p_values:
        path_anchors = f'./Anchors_results/{dataset_name}_results.csv' 
        path_twostep = dataset_name+ f'_results/results_{p}.csv'
        path_twostep_brute = dataset_name+ f'_results/raw_metric_data_{p}.csv'
        np.random.seed(50)
        anchors_brute_results = pd.read_csv(path_anchors)
        twostep_results = pd.read_csv(path_twostep)
        twostep_results_brute = pd.read_csv(path_twostep_brute)
        times_anchors = anchors_brute_results['time'].values
        coverage_anchors = anchors_brute_results['coverage'].values
        errors_anchors = anchors_brute_results['errors'].values
        rsum_anchors = anchors_brute_results['rsum'].values
        sizes_anchors = anchors_brute_results['size'].values
        
        times_twostep = twostep_results_brute['times_twostep'].values
        coverage_twostep = twostep_results_brute['coverage_twostep'].values
        rsum_twostep = twostep_results_brute['rsum_twostep'].values
        feature_sizes_twostep = twostep_results_brute['feature_sizes_twostep'].values
        
        
        
        
        
        # Ensure all lists are NumPy arrays
        times_twostep = np.array(times_twostep)
        coverage_twostep = np.array(coverage_twostep)
        sizes_anchors = np.array(sizes_anchors)
        feature_sizes_twostep = np.array(feature_sizes_twostep)
        rsum_anchors = np.array(rsum_anchors)
        rsum_twostep = np.array(rsum_twostep)
        
        
        
        # Compute means and standard deviations
        (time_mean_anchors, time_std_anchors) = compute_mean_std(times_anchors)
        (time_mean_twostep, time_std_twostep) = compute_mean_std(times_twostep)
        
        (coverage_mean_anchors, coverage_std_anchors) = compute_mean_std(coverage_anchors)
        (coverage_mean_twostep, coverage_std_twostep) = compute_mean_std(coverage_twostep)
        
        (sizes_mean_anchors, sizes_std_anchors) = compute_mean_std(sizes_anchors)
        (sizes_mean_twostep, sizes_std_twostep) = compute_mean_std(feature_sizes_twostep)
        
        (rsum_mean_anchors, rsum_std_anchors) = compute_mean_std(rsum_anchors)
        (rsum_mean_twostep, rsum_std_twostep) = compute_mean_std(rsum_twostep)
        
        # Compute relative percentage differences (Mean & Std)
        time_mean_diff = relative_percentage_diff(time_mean_twostep, time_mean_anchors)
        coverage_mean_diff = relative_percentage_diff(coverage_mean_twostep, coverage_mean_anchors)
        
        time_std_diff = relative_percentage_diff(time_std_twostep, time_std_anchors)
        coverage_std_diff = relative_percentage_diff(coverage_std_twostep, coverage_std_anchors)
        
        sizes_mean_diff = relative_percentage_diff(sizes_mean_twostep, sizes_mean_anchors)
        sizes_std_diff = relative_percentage_diff(sizes_std_twostep, sizes_std_anchors)
        
        rsum_mean_diff = relative_percentage_diff(rsum_mean_twostep, rsum_mean_anchors)
        rsum_std_diff = relative_percentage_diff(rsum_std_twostep, rsum_std_anchors)
        
        # Compute pointwise relative differences
        time_relative_pointwise = relative_percentage_diff(times_twostep, times_anchors)
        coverage_relative_pointwise = relative_percentage_diff(coverage_twostep, coverage_anchors)
        
        sizes_relative_pointwise = relative_percentage_diff(feature_sizes_twostep, sizes_anchors)
        rsum_relative_pointwise = relative_percentage_diff(rsum_twostep, rsum_anchors)
        
        # Compute pointwise means
        time_relative_mean = np.mean(time_relative_pointwise) 
        coverage_relative_mean = np.mean(coverage_relative_pointwise)
        sizes_relative_mean = np.mean(sizes_relative_pointwise)
        rsum_relative_mean = np.mean(rsum_relative_pointwise)
        
        # Compute pointwise standard deviations
        time_relative_std = np.std(time_relative_pointwise) 
        coverage_relative_std = np.std(coverage_relative_pointwise)
        sizes_relative_std = np.std(sizes_relative_pointwise)
        rsum_relative_std = np.std(rsum_relative_pointwise)
        
        # Organize Data
        all_metrics_data = all_metrics_data = {
            'Metric': ['Time', 'Size', 'Ranges_Sum', 'Coverage'],
            'ANCHORS_MEAN': [time_mean_anchors, sizes_mean_anchors, rsum_mean_anchors, coverage_mean_anchors],
            'ANCHORS_STD': [time_std_anchors, sizes_std_anchors, rsum_std_anchors, coverage_std_anchors],
            'TWOSTEP_MEAN': [time_mean_twostep, sizes_mean_twostep, rsum_mean_twostep, coverage_mean_twostep],
            'TWOSTEP_STD': [time_std_twostep, sizes_std_twostep, rsum_std_twostep, coverage_std_twostep],
            'MEAN_DIFF_%': [time_mean_diff, sizes_mean_diff, rsum_mean_diff, coverage_mean_diff],
            'STD_DIFF_%': [time_std_diff, sizes_std_diff, rsum_std_diff, coverage_std_diff],
            'POINTWISE_MEAN_%': [time_relative_mean, sizes_relative_mean, rsum_relative_mean, coverage_relative_mean],
            'POINTWISE_STD_%': [time_relative_std, sizes_relative_std, rsum_relative_std, coverage_relative_std],
            'ANCHORS_ERROR_RATE_MEAN%': [None, None, None, np.mean(errors_anchors/coverage_anchors)*100],
            'ANCHORS_ERROR_RATE_STD%': [None, None, None, np.std(errors_anchors/coverage_anchors)*100],
            
        }
        # Display and save
        all_metrics_df = pd.DataFrame(all_metrics_data)
        display(all_metrics_df)
        print(errors_anchors.sum())
        all_metrics_df.to_csv(f'Anchors_vs_Twostep_Results/Original_{dataset_name}_{p}_results.csv', index=False)

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.049050,0.036821,0.021891,0.004479,-55.370019,-87.836891,-17.938455,66.817053,NaN,NaN
1,Size,2.008850,0.644865,2.539823,0.498412,26.431718,-22.710708,42.109145,62.280497,NaN,NaN
2,Ranges_Sum,2.854955,0.439720,2.522860,0.444553,-11.632204,1.099110,-9.559153,21.211049,NaN,NaN
3,Coverage,26.318584,16.572322,35.044248,15.350991,33.154001,-7.369708,189.421580,382.768704,0.185442,0.804034

6

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.049050,0.036821,0.021932,0.003935,-55.286473,-89.313430,-18.268833,63.486520,NaN,NaN
1,Size,2.008850,0.644865,2.539823,0.498412,26.431718,-22.710708,42.109145,62.280497,NaN,NaN
2,Ranges_Sum,2.854955,0.439720,2.519221,0.446137,-11.759667,1.459260,-9.689744,21.245739,NaN,NaN
3,Coverage,26.318584,16.572322,35.557522,14.620230,35.104237,-11.779234,191.106726,379.732904,0.185442,0.804034

6

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.049050,0.036821,0.022266,0.004111,-54.606306,-88.835186,-18.388534,59.523360,NaN,NaN
1,Size,2.008850,0.644865,2.539823,0.498412,26.431718,-22.710708,42.109145,62.280497,NaN,NaN
2,Ranges_Sum,2.854955,0.439720,2.531183,0.439164,-11.340705,-0.126503,-9.259576,21.084520,NaN,NaN
3,Coverage,26.318584,16.572322,34.442478,15.870571,30.867518,-4.234481,185.748615,382.045038,0.185442,0.804034

6

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.187663,0.057380,0.053229,0.009428,-71.635952,-83.568404,-69.427613,9.871332,NaN,NaN
1,Size,2.171642,0.414767,7.738806,1.748898,256.357388,321.657922,264.427861,93.901766,NaN,NaN
2,Ranges_Sum,11.634103,0.233232,8.348670,0.766510,-28.239681,228.646268,-28.202048,6.819880,NaN,NaN
3,Coverage,29.619403,14.220437,1.223881,0.642311,-95.867977,-95.483180,-94.068997,9.672787,0.946644,4.026229

24

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.187663,0.057380,0.053809,0.009741,-71.326835,-83.024049,-69.171206,9.523852,NaN,NaN
1,Size,2.171642,0.414767,7.738806,1.748898,256.357388,321.657922,264.427861,93.901766,NaN,NaN
2,Ranges_Sum,11.634103,0.233232,8.347332,0.762147,-28.251182,226.775712,-28.213637,6.782714,NaN,NaN
3,Coverage,29.619403,14.220437,1.231343,0.656928,-95.842782,-95.380392,-94.042344,9.681006,0.946644,4.026229

24

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.187663,0.057380,0.052184,0.008772,-72.192890,-84.712184,-70.065895,9.115572,NaN,NaN
1,Size,2.171642,0.414767,7.738806,1.748898,256.357388,321.657922,264.427861,93.901766,NaN,NaN
2,Ranges_Sum,11.634103,0.233232,8.342054,0.757688,-28.296549,224.863973,-28.258809,6.747070,NaN,NaN
3,Coverage,29.619403,14.220437,1.216418,0.615253,-95.893172,-95.673458,-94.095649,9.654633,0.946644,4.026229

24

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.052666,0.057283,0.027819,0.006842,-47.179151,-88.055868,-8.949392,50.781488,NaN,NaN
1,Size,2.360515,1.434876,3.562232,1.347940,50.909091,-6.058793,100.143062,129.252938,NaN,NaN
2,Ranges_Sum,4.843475,1.217775,4.445362,1.206549,-8.219572,-0.921912,4.502672,61.764385,NaN,NaN
3,Coverage,65.776824,33.322999,27.888412,22.513620,-57.601462,-32.438195,-21.087318,161.420000,13.498582,8.046914

2163

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.052666,0.057283,0.027919,0.006612,-46.988246,-88.457819,-8.641161,50.633029,NaN,NaN
1,Size,2.360515,1.434876,3.562232,1.347940,50.909091,-6.058793,100.143062,129.252938,NaN,NaN
2,Ranges_Sum,4.843475,1.217775,4.445962,1.205670,-8.207189,-0.994046,4.518713,61.764610,NaN,NaN
3,Coverage,65.776824,33.322999,27.832618,22.708686,-57.686285,-31.852815,-21.446586,161.712503,13.498582,8.046914

2163

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.052666,0.057283,0.028388,0.006870,-46.097443,-88.006475,-6.789012,52.661064,NaN,NaN
1,Size,2.360515,1.434876,3.562232,1.347940,50.909091,-6.058793,100.143062,129.252938,NaN,NaN
2,Ranges_Sum,4.843475,1.217775,4.446931,1.207340,-8.187183,-0.856916,4.539475,61.786136,NaN,NaN
3,Coverage,65.776824,33.322999,27.746781,22.680091,-57.816782,-31.938627,-21.382716,162.709524,13.498582,8.046914

2163

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.056320,0.061776,0.036324,0.006247,-35.504110,-89.887267,1.023550,49.986531,NaN,NaN
1,Size,2.633681,1.441996,5.098958,1.246773,93.605801,-13.538359,151.787781,145.627389,NaN,NaN
2,Ranges_Sum,6.687499,0.689607,4.786591,0.802314,-28.424793,16.343698,-27.552139,15.159037,NaN,NaN
3,Coverage,131.064236,91.081986,15.515625,15.188049,-88.161816,-83.324859,-45.271435,223.233026,16.509461,10.594769

11601

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.056320,0.061776,0.036443,0.006806,-35.293113,-88.982345,1.202060,48.440935,NaN,NaN
1,Size,2.633681,1.441996,5.098958,1.246773,93.605801,-13.538359,151.787781,145.627389,NaN,NaN
2,Ranges_Sum,6.687499,0.689607,4.778394,0.804429,-28.547369,16.650431,-27.678296,15.163546,NaN,NaN
3,Coverage,131.064236,91.081986,14.350694,14.392029,-89.050640,-84.198820,-52.562181,167.070948,16.509461,10.594769

11601

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.056320,0.061776,0.036539,0.006641,-35.121553,-89.249366,1.250495,47.927806,NaN,NaN
1,Size,2.633681,1.441996,5.098958,1.246773,93.605801,-13.538359,151.787781,145.627389,NaN,NaN
2,Ranges_Sum,6.687499,0.689607,4.764283,0.801824,-28.758370,16.272607,-27.894484,15.096841,NaN,NaN
3,Coverage,131.064236,91.081986,13.024306,13.931483,-90.062655,-84.704459,-58.268556,135.853297,16.509461,10.594769

11601

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.282767,0.185967,0.072140,0.019317,-74.487718,-89.612570,-65.755103,18.799865,NaN,NaN
1,Size,2.197279,0.529914,10.544218,4.775549,379.876161,801.193086,402.165533,243.929427,NaN,NaN
2,Ranges_Sum,21.018162,0.508300,16.093553,2.998807,-23.430256,489.968295,-23.365146,14.531135,NaN,NaN
3,Coverage,40.544218,23.562980,2.210884,2.469491,-94.546980,-89.519616,-90.492574,19.365610,7.663556,7.422089

478

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.282767,0.185967,0.073642,0.019876,-73.956522,-89.311991,-65.012391,19.281900,NaN,NaN
1,Size,2.197279,0.529914,10.544218,4.775549,379.876161,801.193086,402.165533,243.929427,NaN,NaN
2,Ranges_Sum,21.018162,0.508300,16.090372,3.002678,-23.445390,490.729975,-23.380470,14.548632,NaN,NaN
3,Coverage,40.544218,23.562980,2.224490,2.471046,-94.513423,-89.513017,-90.463343,19.456140,7.663556,7.422089

478

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.282767,0.185967,0.073041,0.019986,-74.169264,-89.252960,-65.328497,19.325658,NaN,NaN
1,Size,2.197279,0.529914,10.544218,4.775549,379.876161,801.193086,402.165533,243.929427,NaN,NaN
2,Ranges_Sum,21.018162,0.508300,16.082426,3.002558,-23.483196,490.706329,-23.418361,14.547925,NaN,NaN
3,Coverage,40.544218,23.562980,2.204082,2.498813,-94.563758,-89.395175,-90.478788,19.635393,7.663556,7.422089

478

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.317341,0.200563,0.135784,0.016179,-89.692565,-91.933333,-89.454050,2.051463,NaN,NaN
1,Size,2.117096,0.356095,23.229508,3.296264,997.234513,825.669588,1019.340359,207.521464,NaN,NaN
2,Ranges_Sum,28.674824,0.433893,14.879066,4.067845,-48.111046,837.522671,-48.101973,14.202917,NaN,NaN
3,Coverage,102.131148,35.024871,1.060890,0.400283,-98.961247,-98.857145,-98.763496,0.950894,1.252795,2.328872

637

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.317341,0.200563,0.133319,0.014169,-89.879670,-92.935408,-89.648831,1.905184,NaN,NaN
1,Size,2.117096,0.356095,23.229508,3.296264,997.234513,825.669588,1019.340359,207.521464,NaN,NaN
2,Ranges_Sum,28.674824,0.433893,14.873418,4.068805,-48.130742,837.744009,-48.121678,14.206296,NaN,NaN
3,Coverage,102.131148,35.024871,1.060890,0.400283,-98.961247,-98.857145,-98.763838,0.950437,1.252795,2.328872

637

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.317341,0.200563,0.133768,0.013906,-89.845612,-93.066737,-89.610477,1.923760,NaN,NaN
1,Size,2.117096,0.356095,23.229508,3.296264,997.234513,825.669588,1019.340359,207.521464,NaN,NaN
2,Ranges_Sum,28.674824,0.433893,14.865466,4.070560,-48.158473,838.148359,-48.149444,14.212289,NaN,NaN
3,Coverage,102.131148,35.024871,1.056206,0.376882,-98.965834,-98.923959,-98.767716,0.944462,1.252795,2.328872

637

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.013655,0.004414,0.015467,0.003802,13.272875,-13.853052,17.227345,31.725966,NaN,NaN
1,Size,1.007130,0.133321,1.044563,0.230809,3.716814,73.122494,4.233512,23.433846,NaN,NaN
2,Ranges_Sum,3.500802,0.180621,3.294013,0.107471,-5.906884,-40.499199,-5.640143,6.015306,NaN,NaN
3,Coverage,327.488414,123.639723,520.848485,90.598526,59.043332,-26.723771,102.945035,139.513614,23.625866,2.982624

43908

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.013655,0.004414,0.015477,0.003094,13.350753,-29.900678,17.493311,29.976492,NaN,NaN
1,Size,1.007130,0.133321,1.044563,0.230809,3.716814,73.122494,4.233512,23.433846,NaN,NaN
2,Ranges_Sum,3.500802,0.180621,3.294505,0.106070,-5.892836,-41.274643,-5.625985,5.996681,NaN,NaN
3,Coverage,327.488414,123.639723,521.024955,89.803406,59.097218,-27.366865,103.011727,139.438682,23.625866,2.982624

43908

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.013655,0.004414,0.015424,0.003959,12.960566,-10.298938,16.869463,32.440388,NaN,NaN
1,Size,1.007130,0.133321,1.044563,0.230809,3.716814,73.122494,4.233512,23.433846,NaN,NaN
2,Ranges_Sum,3.500802,0.180621,3.294079,0.107230,-5.905004,-40.632614,-5.638229,6.012339,NaN,NaN
3,Coverage,327.488414,123.639723,520.887701,90.414119,59.055307,-26.872920,102.964475,139.493407,23.625866,2.982624

43908

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.795350,0.327458,0.148758,0.018745,-81.296525,-94.275632,-77.022290,11.793072,NaN,NaN
1,Size,3.094697,0.446504,26.193182,4.658467,746.389229,943.320398,764.236111,202.753913,NaN,NaN
2,Ranges_Sum,31.665377,0.557778,17.544719,2.081511,-44.593368,273.178959,-44.574767,6.646865,NaN,NaN
3,Coverage,18.155303,24.126296,1.015152,0.149992,-94.408512,-99.378303,-58.405078,46.196696,19.863164,25.689038

971

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.795350,0.327458,0.147551,0.019298,-81.448264,-94.106599,-77.251607,11.607712,NaN,NaN
1,Size,3.094697,0.446504,26.193182,4.658467,746.389229,943.320398,764.236111,202.753913,NaN,NaN
2,Ranges_Sum,31.665377,0.557778,17.537178,2.082149,-44.617180,273.293381,-44.598607,6.648716,NaN,NaN
3,Coverage,18.155303,24.126296,1.015152,0.149992,-94.408512,-99.378303,-58.405078,46.196696,19.863164,25.689038

971

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.795350,0.327458,0.147701,0.019133,-81.429470,-94.157169,-77.213939,11.653817,NaN,NaN
1,Size,3.094697,0.446504,26.193182,4.658467,746.389229,943.320398,764.236111,202.753913,NaN,NaN
2,Ranges_Sum,31.665377,0.557778,17.530675,2.081447,-44.637717,273.167631,-44.619146,6.646579,NaN,NaN
3,Coverage,18.155303,24.126296,1.015152,0.149992,-94.408512,-99.378303,-58.405078,46.196696,19.863164,25.689038

971

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.053914,0.059616,0.034051,0.006660,-36.842365,-88.828252,-17.152125,32.955377,NaN,NaN
1,Size,2.093168,1.038401,4.018634,1.089031,91.988131,4.875768,120.703934,100.293331,NaN,NaN
2,Ranges_Sum,7.951427,0.661594,6.181652,0.594722,-22.257328,-10.107664,-21.482068,12.152924,NaN,NaN
3,Coverage,62.136646,39.377059,26.186335,23.254254,-57.856857,-40.944666,86.160048,936.727029,3.726514,5.727561

461

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.053914,0.059616,0.033449,0.005533,-37.957617,-90.719322,-18.691643,30.481680,NaN,NaN
1,Size,2.093168,1.038401,4.018634,1.089031,91.988131,4.875768,120.703934,100.293331,NaN,NaN
2,Ranges_Sum,7.951427,0.661594,6.177943,0.597982,-22.303976,-9.615003,-21.528629,12.174080,NaN,NaN
3,Coverage,62.136646,39.377059,26.447205,23.364756,-57.437025,-40.664040,89.388128,944.341148,3.726514,5.727561

461

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.053914,0.059616,0.033221,0.005317,-38.381798,-91.081067,-19.325747,29.374284,NaN,NaN
1,Size,2.093168,1.038401,4.018634,1.089031,91.988131,4.875768,120.703934,100.293331,NaN,NaN
2,Ranges_Sum,7.951427,0.661594,6.171743,0.599520,-22.381950,-9.382490,-21.605527,12.188684,NaN,NaN
3,Coverage,62.136646,39.377059,25.975155,23.225053,-58.196721,-41.018821,88.686167,956.902287,3.726514,5.727561

461

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.098186,0.139826,0.071778,0.010728,-26.89630,-92.327407,4.535764,39.995082,NaN,NaN
1,Size,1.651852,1.799802,11.118519,2.436508,573.09417,35.376452,797.234357,364.454718,NaN,NaN
2,Ranges_Sum,17.086666,1.051860,11.766112,1.162665,-31.13863,10.534179,-30.783384,9.044309,NaN,NaN
3,Coverage,130.525926,64.986057,1.012346,0.110423,-99.22441,-99.830082,-95.654914,18.106235,3.940214,11.16612

1566

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.098186,0.139826,0.073581,0.010902,-25.059928,-92.202838,6.880469,39.963883,NaN,NaN
1,Size,1.651852,1.799802,11.118519,2.436508,573.094170,35.376452,797.234357,364.454718,NaN,NaN
2,Ranges_Sum,17.086666,1.051860,11.764775,1.162677,-31.146456,10.535345,-30.791022,9.045755,NaN,NaN
3,Coverage,130.525926,64.986057,1.012346,0.110423,-99.224410,-99.830082,-95.654914,18.106235,3.940214,11.16612

1566

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.098186,0.139826,0.072230,0.010781,-26.436005,-92.289645,5.161214,40.032977,NaN,NaN
1,Size,1.651852,1.799802,11.118519,2.436508,573.094170,35.376452,797.234357,364.454718,NaN,NaN
2,Ranges_Sum,17.086666,1.051860,11.755687,1.162945,-31.199648,10.560792,-30.843985,9.049128,NaN,NaN
3,Coverage,130.525926,64.986057,1.009877,0.098889,-99.226302,-99.847831,-95.656784,18.106566,3.940214,11.16612

1566

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.039220,0.037144,0.023366,0.005959,-40.422664,-83.957582,8.245150,65.271499,NaN,NaN
1,Size,2.316832,1.468688,2.504950,1.168541,8.119658,-20.436414,59.169417,118.038910,NaN,NaN
2,Ranges_Sum,3.705213,0.805644,3.534595,0.622437,-4.604831,-22.740468,1.163398,32.839125,NaN,NaN
3,Coverage,66.237624,56.744430,37.805281,27.688002,-42.924763,-51.205780,83.996775,478.544398,22.997072,26.641805

1619

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.039220,0.037144,0.023154,0.005884,-40.964736,-84.158265,6.697698,62.475706,NaN,NaN
1,Size,2.316832,1.468688,2.504950,1.168541,8.119658,-20.436414,59.169417,118.038910,NaN,NaN
2,Ranges_Sum,3.705213,0.805644,3.534748,0.618858,-4.600686,-23.184690,1.167367,32.776419,NaN,NaN
3,Coverage,66.237624,56.744430,37.755776,27.569649,-42.999502,-51.414351,82.608706,466.660014,22.997072,26.641805

1619

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.039220,0.037144,0.023059,0.005971,-41.206993,-83.925128,7.068954,64.846724,NaN,NaN
1,Size,2.316832,1.468688,2.504950,1.168541,8.119658,-20.436414,59.169417,118.038910,NaN,NaN
2,Ranges_Sum,3.705213,0.805644,3.543472,0.621318,-4.365249,-22.879419,1.415404,32.878402,NaN,NaN
3,Coverage,66.237624,56.744430,38.102310,28.120546,-42.476333,-50.443513,85.032464,474.773759,22.997072,26.641805

1619

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.032919,0.020918,0.022910,0.004074,-30.403204,-80.524063,1.713095,62.360304,NaN,NaN
1,Size,2.493683,1.033552,2.725948,0.461035,9.314108,-55.393172,39.852608,82.689135,NaN,NaN
2,Ranges_Sum,2.649649,0.489640,2.478158,0.133893,-6.472213,-72.654897,-2.703708,22.191384,NaN,NaN
3,Coverage,131.296404,87.608994,49.596696,36.076929,-62.225397,-58.820519,-14.958923,179.314317,1.377627,5.701519

944

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.032919,0.020918,0.022730,0.003892,-30.951085,-81.391682,0.523060,60.327428,NaN,NaN
1,Size,2.493683,1.033552,2.725948,0.461035,9.314108,-55.393172,39.852608,82.689135,NaN,NaN
2,Ranges_Sum,2.649649,0.489640,2.478826,0.134304,-6.446989,-72.570890,-2.677763,22.200713,NaN,NaN
3,Coverage,131.296404,87.608994,50.995141,36.767848,-61.160291,-58.031880,-12.644517,187.207758,1.377627,5.701519

944

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.032919,0.020918,0.022852,0.004042,-30.579310,-80.679086,0.929341,59.456644,NaN,NaN
1,Size,2.493683,1.033552,2.725948,0.461035,9.314108,-55.393172,39.852608,82.689135,NaN,NaN
2,Ranges_Sum,2.649649,0.489640,2.477300,0.134689,-6.504606,-72.492222,-2.738383,22.189947,NaN,NaN
3,Coverage,131.296404,87.608994,46.567541,36.920456,-64.532508,-57.857688,-19.818911,176.961903,1.377627,5.701519

944

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.206868,0.797166,0.297104,0.019707,-92.937642,-97.527869,-92.657789,1.608202,NaN,NaN
1,Size,2.775641,0.417159,51.647436,3.800817,1760.739030,811.118518,1811.965812,369.693195,NaN,NaN
2,Ranges_Sum,57.155959,1.145506,31.856469,2.598200,-44.263957,126.816798,-44.242382,4.672951,NaN,NaN
3,Coverage,3.294872,4.693446,1.000000,0.000000,-69.649805,-100.000000,-34.879380,37.976039,4.023083,12.221805

46

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.206868,0.797166,0.300317,0.026482,-92.861281,-96.677985,-92.582874,1.659652,NaN,NaN
1,Size,2.775641,0.417159,51.647436,3.800817,1760.739030,811.118518,1811.965812,369.693195,NaN,NaN
2,Ranges_Sum,57.155959,1.145506,31.854303,2.597341,-44.267747,126.741774,-44.246174,4.671457,NaN,NaN
3,Coverage,3.294872,4.693446,1.000000,0.000000,-69.649805,-100.000000,-34.879380,37.976039,4.023083,12.221805

46

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.206868,0.797166,0.299299,0.029429,-92.885465,-96.308247,-92.609830,1.651189,NaN,NaN
1,Size,2.775641,0.417159,51.647436,3.800817,1760.739030,811.118518,1811.965812,369.693195,NaN,NaN
2,Ranges_Sum,57.155959,1.145506,31.852161,2.596723,-44.271496,126.687832,-44.249915,4.670499,NaN,NaN
3,Coverage,3.294872,4.693446,1.000000,0.000000,-69.649805,-100.000000,-34.879380,37.976039,4.023083,12.221805

46