In [1]:
from pulp import *
from pulp import LpProblem, LpVariable, LpMinimize, LpInteger, lpSum, value, LpBinary,LpStatusOptimal
import pulp
import numpy as np
import pandas as pd
import time
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings("ignore", message="Overwriting previously set objective.")
import utility
import docplex.mp.model
import docplex
import docplex_explainer
import mymetrics
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import seaborn as sns
import joblib
import mymetrics

In [2]:
column_names = {
    'Iris': datasets.load_iris().feature_names,
    'Wine': datasets.load_wine().feature_names,
    'Breast_Cancer': datasets.load_breast_cancer().feature_names,
    'Vertebral-Column': ['pelvic_incidence', 'pelvic_tilt', 'lumbar_lordosis_angle', 'sacral_slope', 'pelvic_radius', 'degree_spondylolisthesis'],
    'Pima': pd.read_csv('./datasets/diabetes.csv').columns[:-1].values,
    'Parkinsons': pd.read_csv('./datasets/parkinsons.csv').columns[:-1].values,
    'Blood_Transfusion': pd.read_csv('./datasets/blood_transfusion.csv').columns[:-1].values,
    'Ionosphere': pd.read_csv('./datasets/ionosphere.csv').columns[:-1].values,
    'Glass': pd.read_csv('./datasets/glass.csv').columns[:-1].values,
    'Climate': pd.read_csv('./datasets/climate_model_simulation_crashes.csv').columns[:-1].values,
    'Modeling': pd.read_csv('./datasets/User_Knowledge_Modeling.csv').columns[:-1].values,
    'Banknote': pd.read_csv('./datasets/banknote_authentication.csv').columns[:-1].values
}

In [7]:
# Load Dataset
dataset_name = ['Iris', 'Wine', 'Vertebral-Column', 'Pima', 'Parkinsons', 'Breast_Cancer', 'Blood_Transfusion', 'Ionosphere', 'Glass', 'Climate', 'Modeling', 'Banknote']#, Sonar
for dataset in dataset_name:
    scaler = joblib.load(f'models/{dataset}_scaler.pkl')
    loaded_data = np.load(f'{dataset}_results/pos_explanations_0.25.npz')
    onestep_pos = loaded_data['pos_exp_onestep'].round(12)
    twostep_pos = loaded_data['pos_exp_twostep'].round(12)
    
    loaded_data = np.load(f'{dataset}_results/neg_explanations_0.25.npz')
    onestep_neg = loaded_data['neg_exp_onestep'].round(12)
    twostep_neg = loaded_data['neg_exp_twostep'].round(12)
    X_test = pd.read_csv(f'{dataset}_results/{dataset}_X_test_predicted.csv').round(12)
    
    print(f'\n\n#################### {dataset.upper()} ####################')
    # Find 1 Onestep smallest explanations
    counts = np.sum((onestep_pos[:, :, 0] == 0) & (onestep_pos[:, :, 1] == 1), axis=1)
    min_index = np.argsort(counts)[-1:]
    onestep_pos = onestep_pos[min_index]

    counts = np.sum((onestep_neg[:, :, 0] == 0) & (onestep_neg[:, :, 1] == 1), axis=1)
    min_index = np.argsort(counts)[-1:]
    onestep_neg = onestep_neg[min_index]

    # Find 1 Twostepstep smallest explanations
    counts = np.sum((twostep_pos[:, :, 0] == 0) & (twostep_pos[:, :, 1] == 1), axis=1)
    min_index = np.argsort(counts)[-1:]
    twostep_pos = twostep_pos[min_index]

    counts = np.sum((twostep_neg[:, :, 0] == 0) & (twostep_neg[:, :, 1] == 1), axis=1)
    min_index = np.argsort(counts)[-1:]
    twostep_neg = twostep_neg[min_index]

    #Find Positive Instance covered by both Onestep and Twostep
    instances_onestep = scaler.inverse_transform(mymetrics.calculate_coverage(X_test,onestep_pos[0]).values[:,:-1])
    instances_twostep = scaler.inverse_transform(mymetrics.calculate_coverage(X_test,twostep_pos[0]).values[:,:-1])
    instance = np.array([row for row in instances_onestep if any(np.all(row == instances_twostep, axis=1))])[0]
    instance_df = pd.DataFrame(data=instance.reshape(1,-1),columns=column_names[dataset])
    display(instance_df)

    #Onestep
    onestep_exp = scaler.inverse_transform(onestep_pos[0].T)
    onestep_df = pd.DataFrame(data=onestep_exp,columns=column_names[dataset])
    print(f'Onestep_pos - relevant features: {np.where((onestep_pos[0] != [onestep_pos[0].min(), onestep_pos[0].max()]).any(axis=1))}')
    display(onestep_df)

    #Twostep
    twostep_exp = scaler.inverse_transform(twostep_pos[0].T)
    twostep_df = pd.DataFrame(data=twostep_exp,columns=column_names[dataset])
    print(f'Twostep_pos - relevant features: {np.where((twostep_pos[0] != [twostep_pos[0].min(), twostep_pos[0].max()]).any(axis=1))}')
    display(twostep_df)

    min_bounds = np.min(onestep_exp, axis=0)  # Minimum values per feature
    max_bounds = np.max(onestep_exp, axis=0)  # Maximum values per feature
    within_bounds = np.all((instance >= min_bounds) & (instance <= max_bounds))

    if within_bounds:
        print(f"✅ {dataset}_instance_pos is within Onestep bounds.")
    else:
        print(f"❌ {dataset}_instance_pos is OUTSIDE Onestep bounds.")

    min_bounds = np.min(twostep_exp, axis=0)  # Minimum values per feature
    max_bounds = np.max(twostep_exp, axis=0)  # Maximum values per feature

    within_bounds = np.all((instance >= min_bounds) & (instance <= max_bounds))

    if within_bounds:
        print(f"✅ {dataset}_instance_pos is within Twostep bounds.")
    else:
        print(f"❌ {dataset}_instance_pos is OUTSIDE Twostep bounds.")
    print('----------------------------------------------------------------------------------------------')
    print('----------------------------------------------------------------------------------------------')

    #Find Negative Instance covered by both Onestep and Twostep
    instances_onestep = scaler.inverse_transform(mymetrics.calculate_coverage(X_test,onestep_neg[0]).values[:,:-1])
    instances_twostep = scaler.inverse_transform(mymetrics.calculate_coverage(X_test,twostep_neg[0]).values[:,:-1])
    instance = np.array([row for row in instances_onestep if any(np.all(row == instances_twostep, axis=1))])[0]
    instance_df = pd.DataFrame(data=instance.reshape(1,-1),columns=column_names[dataset])
    display(instance_df)

    #Onestep
    onestep_exp = scaler.inverse_transform(onestep_neg[0].T)
    onestep_df = pd.DataFrame(data=onestep_exp,columns=column_names[dataset])
    print(f'Onestep_neg - relevant features: {np.where((onestep_neg[0] != [onestep_neg[0].min(), onestep_neg[0].max()]).any(axis=1))}')
    display(onestep_df)

    #Twostep
    twostep_exp = scaler.inverse_transform(twostep_neg[0].T)
    twostep_df = pd.DataFrame(data=twostep_exp,columns=column_names[dataset])
    print(f'Twostep_neg - relevant features: {np.where((twostep_neg[0] != [twostep_neg[0].min(), twostep_neg[0].max()]).any(axis=1))}')
    display(twostep_df)

    min_bounds = np.min(onestep_exp, axis=0)  # Minimum values per feature
    max_bounds = np.max(onestep_exp, axis=0)  # Maximum values per feature
    within_bounds = np.all((instance >= min_bounds) & (instance <= max_bounds))

    if within_bounds:
        print(f"✅ {dataset}_instance_neg is within Onestep bounds.")
    else:
        print(f"❌ {dataset}_instance_neg is OUTSIDE Onestep bounds.")

    min_bounds = np.min(twostep_exp, axis=0)  # Minimum values per feature
    max_bounds = np.max(twostep_exp, axis=0)  # Maximum values per feature

    within_bounds = np.all((instance >= min_bounds) & (instance <= max_bounds))

    if within_bounds:
        print(f"✅ {dataset}_instance_neg is within Twostep bounds.")
    else:
        print(f"❌ {dataset}_instance_neg is OUTSIDE Twostep bounds.")
    print('----------------------------------------------------------------------------------------------')
    print('----------------------------------------------------------------------------------------------')

#################### IRIS ####################

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.8               2.7                5.1               1.9

Onestep_pos - relevant features: (array([2, 3], dtype=int64),)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                4.3               2.0           3.161904               1.9
1                7.9               4.4           6.900000               2.5

Twostep_pos - relevant features: (array([2, 3], dtype=int64),)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                4.3               2.0            3.56199          1.745695
1                7.9               4.4            6.90000          2.500000

✅ Iris_instance_pos is within Onestep bounds.
✅ Iris_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                4.6               3.6                1.0               0.2

Onestep_neg - relevant features: (array([1, 2, 3], dtype=int64),)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                4.3          2.219177                1.0               0.1
1                7.9          4.400000                1.2               0.2

Twostep_neg - relevant features: (array([1, 2, 3], dtype=int64),)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                4.3          2.798561           1.000000          0.100000
1                7.9          4.400000           1.770937          0.364838

✅ Iris_instance_neg is within Onestep bounds.
✅ Iris_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### WINE ####################

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,13.88,5.04,2.23,20.0,80.0,0.98,0.34,0.4,0.68,4.9,0.58,1.33,415.0

Onestep_pos - relevant features: (array([ 5,  6, 11, 12], dtype=int64),)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,11.03,0.74,1.36,10.6,70.0,0.980000,0.34,0.13,0.41,1.28,0.48,1.27,278.0
1,14.83,5.80,3.23,30.0,162.0,1.945597,0.34,0.66,3.58,13.00,1.71,1.33,415.0

Twostep_pos - relevant features: (array([ 5,  6, 11, 12], dtype=int64),)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,11.03,0.74,1.36,10.6,70.0,0.980000,0.340000,0.13,0.41,1.28,0.48,1.270000,278.00000
1,14.83,5.80,3.23,30.0,162.0,1.567717,0.479127,0.66,3.58,13.00,1.71,1.373722,423.00976

✅ Wine_instance_pos is within Onestep bounds.
✅ Wine_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.38,1.87,2.38,12.0,102.0,3.3,3.64,0.29,2.96,7.5,1.2,3.0,1547.0

Onestep_neg - relevant features: (array([ 3,  6, 11, 12], dtype=int64),)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,11.03,0.74,1.36,10.600000,70.0,0.98,3.628219,0.13,0.41,1.28,0.48,3.0,1547.0
1,14.83,5.80,3.23,12.332468,162.0,3.88,5.080000,0.66,3.58,13.00,1.71,4.0,1680.0

Twostep_neg - relevant features: (array([ 3,  6, 11, 12], dtype=int64),)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,11.03,0.74,1.36,10.600000,70.0,0.98,3.606257,0.13,0.41,1.28,0.48,2.994505,1547.0
1,14.83,5.80,3.23,12.219066,162.0,3.88,5.080000,0.66,3.58,13.00,1.71,4.000000,1680.0

✅ Wine_instance_neg is within Onestep bounds.
✅ Wine_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### VERTEBRAL-COLUMN ####################

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,118.14,38.45,50.84,79.7,81.02,74.04

Onestep_pos - relevant features: (array([4], dtype=int64),)

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,26.15,-6.55,14.00,13.37,70.08,-11.06
1,129.83,49.43,125.74,121.43,81.02,418.54

Twostep_pos - relevant features: (array([4], dtype=int64),)

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,26.15,-6.55,14.00,13.37,70.08,-11.06
1,129.83,49.43,125.74,121.43,81.02,418.54

✅ Vertebral-Column_instance_pos is within Onestep bounds.
✅ Vertebral-Column_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,26.15,10.76,14.0,15.39,125.2,-10.09

Onestep_neg - relevant features: (array([0, 1, 2, 4, 5], dtype=int64),)

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,26.15000,-6.550000,14.0,13.37,125.20,-11.06
1,37.04726,10.784152,14.0,121.43,163.07,-10.09

Twostep_neg - relevant features: (array([0, 1, 2, 4, 5], dtype=int64),)

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,26.150000,-6.550000,14.000000,13.37,124.740103,-11.060000
1,31.841288,11.940993,15.002767,121.43,163.070000,-7.967587

✅ Vertebral-Column_instance_neg is within Onestep bounds.
✅ Vertebral-Column_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### PIMA ####################

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7.0,194.0,68.0,28.0,0.0,35.9,0.745,41.0

Onestep_pos - relevant features: (array([1, 5], dtype=int64),)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.0,188.959988,0.0,0.0,0.0,35.65859,0.078,21.0
1,17.0,199.000000,122.0,99.0,846.0,67.10000,2.420,81.0

Twostep_pos - relevant features: (array([1, 5], dtype=int64),)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.0,190.556768,0.0,0.0,0.0,34.44503,0.078,21.0
1,17.0,199.000000,122.0,99.0,846.0,67.10000,2.420,81.0

✅ Pima_instance_pos is within Onestep bounds.
✅ Pima_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1.0,0.0,48.0,20.0,0.0,24.7,0.14,22.0

Onestep_neg - relevant features: (array([1, 6], dtype=int64),)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.078000,21.0
1,17.0,6.140351,122.0,99.0,846.0,67.1,0.215782,81.0

Twostep_neg - relevant features: (array([1, 6], dtype=int64),)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.078000,21.0
1,17.0,4.608987,122.0,99.0,846.0,67.1,0.292121,81.0

✅ Pima_instance_neg is within Onestep bounds.
✅ Pima_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### PARKINSONS ####################

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,PPE,RPDE,DFA,spread1,spread2,D2
0,192.818,224.429,168.793,0.03107,0.00016,0.018,0.01958,0.05401,0.11908,1.302,...,0.13778,0.16942,0.21713,8.441,0.527367,0.625866,0.76832,-2.434031,0.450493,3.079221

Onestep_pos - relevant features: (array([16, 19, 20], dtype=int64),)

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,PPE,RPDE,DFA,spread1,spread2,D2
0,88.333,102.145,65.476,0.00168,0.000007,0.00068,0.00092,0.00204,0.00954,0.085,...,0.00719,0.01364,0.00065,8.441,0.391407,0.256570,0.574282,-2.931070,0.434326,1.423287
1,260.105,592.030,239.170,0.03316,0.000260,0.02144,0.01958,0.06433,0.11908,1.302,...,0.13778,0.16942,0.31482,33.047,0.527367,0.685151,0.825288,-2.434031,0.450493,3.671155

Twostep_pos - relevant features: (array([16, 19, 20], dtype=int64),)

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,PPE,RPDE,DFA,spread1,spread2,D2
0,88.333,102.145,65.476,0.00168,0.000007,0.00068,0.00092,0.00204,0.00954,0.085,...,0.00719,0.01364,0.00065,8.441,0.403439,0.256570,0.574282,-2.994064,0.431320,1.423287
1,260.105,592.030,239.170,0.03316,0.000260,0.02144,0.01958,0.06433,0.11908,1.302,...,0.13778,0.16942,0.31482,33.047,0.527367,0.685151,0.825288,-2.434031,0.450493,3.671155

✅ Parkinsons_instance_pos is within Onestep bounds.
✅ Parkinsons_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,PPE,RPDE,DFA,spread1,spread2,D2
0,116.556,592.03,86.228,0.00496,0.00004,0.00254,0.00263,0.00762,0.0166,0.154,...,0.01491,0.0246,0.01397,23.958,0.120605,0.566424,0.667654,-6.431119,0.15331,2.161936

Onestep_neg - relevant features: (array([ 1,  4,  5,  6,  7, 14, 15, 16, 17, 18, 19, 20, 21], dtype=int64),)

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,PPE,RPDE,DFA,spread1,spread2,D2
0,88.333,583.16929,65.476,0.00168,0.000007,0.00068,0.00092,0.00204,0.00954,0.085,...,0.00719,0.01364,0.000650,23.958,0.044539,0.566424,0.574282,-7.964984,0.006274,1.423287
1,260.105,592.03000,239.170,0.03316,0.000051,0.00254,0.00263,0.00762,0.11908,1.302,...,0.13778,0.16942,0.019471,33.047,0.120605,0.685151,0.667654,-6.431119,0.153310,2.161936

Twostep_neg - relevant features: (array([ 1,  4,  5,  6,  7, 14, 15, 16, 17, 18, 19, 20, 21], dtype=int64),)

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,PPE,RPDE,DFA,spread1,spread2,D2
0,88.333,589.814823,65.476,0.00168,0.000007,0.000680,0.000920,0.002040,0.00954,0.085,...,0.00719,0.01364,0.000650,23.851303,0.044539,0.558777,0.574282,-7.964984,0.006274,1.423287
1,260.105,592.030000,239.170,0.03316,0.000049,0.002942,0.002903,0.008298,0.11908,1.302,...,0.13778,0.16942,0.028584,33.047000,0.120605,0.685151,0.667739,-6.431119,0.153310,2.168575

✅ Parkinsons_instance_neg is within Onestep bounds.
✅ Parkinsons_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### BREAST_CANCER ####################

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,9.72,18.22,60.73,288.1,0.0695,0.02344,0.0,0.0,0.1653,0.06447,...,9.968,20.83,62.25,303.8,0.07117,0.02729,0.0,0.0,0.1909,0.06559

Onestep_pos - relevant features: (array([ 5,  6,  7,  8, 10, 12, 13, 14, 17, 18, 20, 21, 22, 23, 24, 25, 26,
       27, 28], dtype=int64),)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,6.981,9.71,43.79,143.5,0.05263,0.019380,0.0,0.0,0.106000,0.04996,...,7.930,12.02,50.41,185.2,0.07117,0.02729,0.0,0.0,0.1565,0.05504
1,28.110,39.28,188.50,2501.0,0.16340,0.027612,0.0,0.0,0.165729,0.09744,...,9.968,20.83,62.25,303.8,0.07117,0.02729,0.0,0.0,0.1909,0.20750

Twostep_pos - relevant features: (array([ 5,  6,  7,  8, 10, 12, 13, 14, 17, 18, 20, 21, 22, 23, 24, 25, 26,
       27, 28], dtype=int64),)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,6.981,9.71,43.79,143.5,0.05263,0.019380,0.0,0.0,0.106000,0.04996,...,7.930,12.02,50.41,185.2,0.07117,0.027290,0.0,0.0,0.1565,0.05504
1,28.110,39.28,188.50,2501.0,0.16340,0.024483,0.0,0.0,0.166212,0.09744,...,9.968,20.83,62.25,303.8,0.07117,0.028528,0.0,0.0,0.1909,0.20750

✅ Breast_Cancer_instance_pos is within Onestep bounds.
✅ Breast_Cancer_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,27.42,26.27,186.9,2501.0,0.1084,0.1988,0.3635,0.1689,0.2061,0.05623,...,36.04,31.37,251.2,4254.0,0.1357,0.4256,0.6833,0.2625,0.2641,0.07427

Onestep_neg - relevant features: (array([19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64),)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,6.981,9.71,43.79,143.5,0.05263,0.01938,0.0000,0.0000,0.106,0.04996,...,36.04,31.37,251.2,4254.0,0.1357,0.416512,0.6833,0.2625,0.2641,0.05504
1,28.110,39.28,188.50,2501.0,0.16340,0.34540,0.4268,0.2012,0.304,0.09744,...,36.04,49.54,251.2,4254.0,0.2226,1.058000,1.2520,0.2910,0.6638,0.20750

Twostep_neg - relevant features: (array([19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64),)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,6.981,9.71,43.79,143.5,0.05263,0.01938,0.0000,0.0000,0.106,0.04996,...,36.04,31.37,251.2,4254.0,0.1357,0.41149,0.6833,0.2625,0.263663,0.05504
1,28.110,39.28,188.50,2501.0,0.16340,0.34540,0.4268,0.2012,0.304,0.09744,...,36.04,49.54,251.2,4254.0,0.2226,1.05800,1.2520,0.2910,0.663800,0.20750

✅ Breast_Cancer_instance_neg is within Onestep bounds.
✅ Breast_Cancer_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### BLOOD_TRANSFUSION ####################

   Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0               2.0               50.0                12500.0           98.0

Onestep_pos - relevant features: (array([1, 2], dtype=int64),)

   Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0               0.0          43.516343                12500.0            2.0
1              74.0          50.000000                12500.0           98.0

Twostep_pos - relevant features: (array([1, 2], dtype=int64),)

   Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0               0.0          44.732029           12196.078597            2.0
1              74.0          50.000000           12500.000000           98.0

✅ Blood_Transfusion_instance_pos is within Onestep bounds.
✅ Blood_Transfusion_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

   Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0              23.0                8.0                 2000.0           46.0

Onestep_neg - relevant features: (array([2], dtype=int64),)

   Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0               0.0                1.0             250.000000            2.0
1              74.0               50.0            4057.017366           98.0

Twostep_neg - relevant features: (array([2], dtype=int64),)

   Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0               0.0                1.0             250.000000            2.0
1              74.0               50.0            4057.017366           98.0

✅ Blood_Transfusion_instance_neg is within Onestep bounds.
✅ Blood_Transfusion_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### IONOSPHERE ####################

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34
0,0.0,0.0,0.0,0.0,-1.0,1.0,1.0,1.0,-1.0,-1.0,...,1.0,-1.0,-1.0,-1.0,0.0,0.0,1.0,-1.0,0.0,0.0

Onestep_pos - relevant features: (array([ 5,  6,  7, 10, 12, 15, 20, 21, 24, 25, 26, 28, 29, 30, 32, 33],
      dtype=int64),)

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34
0,0.0,0.0,-1.0,-1.0,-1.0,0.955039,0.978982,1.0,-1.0,-1.0,...,1.0,-1.0,-1.0,-1.0,0.0,0.0,0.994828,-1.0,0.0,-1.0
1,1.0,1.0,1.0,1.0,1.0,1.000000,1.000000,1.0,1.0,1.0,...,1.0,-1.0,-1.0,1.0,1.0,1.0,1.000000,1.0,1.0,0.0

Twostep_pos - relevant features: (array([ 5,  6,  7, 10, 12, 15, 20, 21, 24, 25, 26, 28, 29, 30, 32, 33],
      dtype=int64),)

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34
0,0.0,0.0,-1.0,-1.0,-1.0,0.98876,0.960296,0.993493,-1.0,-1.0,...,0.99935,-1.000000,-1.0,-1.0,0.0,0.0,0.985751,-1.0,-0.000203,-1.0
1,1.0,1.0,1.0,1.0,1.0,1.00000,1.000000,1.000000,1.0,1.0,...,1.00000,-0.997135,-1.0,1.0,1.0,1.0,1.000000,1.0,1.000000,0.0

✅ Ionosphere_instance_pos is within Onestep bounds.
✅ Ionosphere_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34
0,0.0,0.0,1.0,-1.0,1.0,1.0,1.0,-1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-1.0

Onestep_neg - relevant features: (array([ 0,  7, 10, 12, 15, 18, 21, 25, 26], dtype=int64),)

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34
0,0.000000,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,...,-1.0,1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,0.001623,1.0,1.0,1.0,1.0,1.0,1.0,-0.966726,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

Twostep_neg - relevant features: (array([ 0,  7, 10, 12, 15, 18, 21, 25, 26], dtype=int64),)

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F25,F26,F27,F28,F29,F30,F31,F32,F33,F34
0,0.000000,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,...,-1.0,0.995367,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,0.000406,1.0,1.0,1.0,1.0,1.0,1.0,-0.982204,1.0,1.0,...,1.0,1.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

✅ Ionosphere_instance_neg is within Onestep bounds.
✅ Ionosphere_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### GLASS ####################

        RI     Na    Mg    Al     Si     K   Ca   Ba   Fe
0  1.51966  14.77  3.75  0.29  72.02  0.03  9.0  0.0  0.0

Onestep_pos - relevant features: (array([2, 3, 7], dtype=int64),)

        RI     Na        Mg    Al     Si     K     Ca        Ba    Fe
0  1.51115  10.73  1.782122  0.29  69.81  0.00   5.43  0.000000  0.00
1  1.53393  17.38  4.490000  0.29  75.41  6.21  16.19  0.020204  0.51

Twostep_pos - relevant features: (array([2, 3, 7], dtype=int64),)

        RI     Na       Mg        Al     Si     K     Ca        Ba    Fe
0  1.51115  10.73  2.43049  0.290000  69.81  0.00   5.43  0.000000  0.00
1  1.53393  17.38  4.49000  0.507495  75.41  6.21  16.19  0.344586  0.51

✅ Glass_instance_pos is within Onestep bounds.
✅ Glass_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

       RI     Na   Mg    Al     Si    K    Ca    Ba   Fe
0  1.5164  14.37  0.0  2.74  72.85  0.0  9.45  0.54  0.0

Onestep_neg - relevant features: (array([1, 2, 3, 6, 8], dtype=int64),)

        RI         Na   Mg    Al     Si     K        Ca    Ba        Fe
0  1.51115  13.574994  0.0  2.54  69.81  0.00  5.430000  0.00  0.000000
1  1.53393  17.380000  0.0  3.50  75.41  6.21  9.519614  3.15  0.013589

Twostep_neg - relevant features: (array([1, 2, 3, 6, 8], dtype=int64),)

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
0,1.51115,13.738212,0.000000,2.528784,69.81,0.00,5.430000,0.00,0.000000
1,1.53393,17.380000,0.028285,3.500000,75.41,6.21,9.657523,3.15,0.022838

✅ Glass_instance_neg is within Onestep bounds.
✅ Glass_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### CLIMATE ####################

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.379486,0.113463,0.585678,0.257807,0.920813,0.669801,0.617307,0.27416,0.729678,0.670572,0.300976,0.063676,0.84027,0.992424,0.746481,0.18005,0.909602,0.62439

Onestep_pos - relevant features: (array([ 1,  8, 10, 13, 17], dtype=int64),)

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.000414,0.001922,0.001181,0.001972,0.000858,0.000476,0.00459,0.000296,0.722626,0.002015,0.000419,0.001188,0.001312,0.992424,0.000732,0.000891,0.000219,0.617501
1,0.999194,0.152344,0.998263,0.997673,0.998944,0.997142,0.99893,0.998506,0.997172,0.999536,0.304473,0.997718,0.997518,0.999795,0.999155,0.997265,0.999306,0.999655

Twostep_pos - relevant features: (array([ 1,  8, 10, 13, 17], dtype=int64),)

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.000414,0.001922,0.001181,0.001972,0.000858,0.000476,0.00459,0.000296,0.708438,0.002015,0.000419,0.001188,0.001312,0.985751,0.000732,0.000891,0.000219,0.600672
1,0.999194,0.128691,0.998263,0.997673,0.998944,0.997142,0.99893,0.998506,0.997172,0.999536,0.319793,0.997718,0.997518,0.999795,0.999155,0.997265,0.999306,0.999655

✅ Climate_instance_pos is within Onestep bounds.
✅ Climate_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.783335,0.892363,0.802123,0.984419,0.212193,0.808875,0.264226,0.969816,0.144152,0.741067,0.385611,0.071712,0.935856,0.227156,0.567388,0.04907,0.375561,0.10441

Onestep_neg - relevant features: (array([ 0,  1,  6,  8,  9, 10, 11, 12, 13, 14, 15, 17], dtype=int64),)

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.763032,0.891054,0.001181,0.001972,0.000858,0.000476,0.248581,0.000296,0.003231,0.712325,0.385611,0.001188,0.935856,0.002509,0.567388,0.000891,0.000219,0.000263
1,0.999194,0.998815,0.998263,0.997673,0.998944,0.997142,0.998930,0.998506,0.144152,0.999536,0.999942,0.071712,0.997518,0.227156,0.999155,0.049070,0.999306,0.104410

Twostep_neg - relevant features: (array([ 0,  1,  6,  8,  9, 10, 11, 12, 13, 14, 15, 17], dtype=int64),)

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.778259,0.887737,0.001181,0.001972,0.000858,0.000476,0.248706,0.000296,0.003231,0.675844,0.381199,0.001188,0.934504,0.002509,0.558217,0.000891,0.000219,0.000263
1,0.999194,0.998815,0.998263,0.997673,0.998944,0.997142,0.998930,0.998506,0.149701,0.999536,0.999942,0.081881,0.997518,0.227437,0.999155,0.049097,0.999306,0.107497

✅ Climate_instance_neg is within Onestep bounds.
✅ Climate_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### MODELING ####################

    STG   SCG  STR   LPR  PEG
0  0.33  0.04  0.5  0.55  0.1

Onestep_pos - relevant features: (array([1, 4], dtype=int64),)

    STG       SCG   STR   LPR   PEG
0  0.00  0.000000  0.00  0.00  0.00
1  0.99  0.140665  0.95  0.99  0.15

Twostep_pos - relevant features: (array([1, 4], dtype=int64),)

    STG       SCG   STR   LPR   PEG
0  0.00  0.000000  0.00  0.00  0.00
1  0.99  0.140665  0.95  0.99  0.15

✅ Modeling_instance_pos is within Onestep bounds.
✅ Modeling_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

   STG  SCG   STR   LPR   PEG
0  0.2  0.2  0.68  0.67  0.85

Onestep_neg - relevant features: (array([4], dtype=int64),)

    STG  SCG   STR   LPR       PEG
0  0.00  0.0  0.00  0.00  0.678233
1  0.99  0.9  0.95  0.99  0.990000

Twostep_neg - relevant features: (array([4], dtype=int64),)

    STG  SCG   STR   LPR       PEG
0  0.00  0.0  0.00  0.00  0.678233
1  0.99  0.9  0.95  0.99  0.990000

✅ Modeling_instance_neg is within Onestep bounds.
✅ Modeling_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------


#################### BANKNOTE ####################

   variance  skewness  curtosis  entropy
0   -6.1632    8.7096  -0.21621  -3.6345

Onestep_pos - relevant features: (array([0, 2], dtype=int64),)

   variance  skewness  curtosis  entropy
0 -7.042100  -13.7731 -5.286100  -8.5482
1 -5.010226   12.9516  0.272446   2.4495

Twostep_pos - relevant features: (array([0, 2], dtype=int64),)

   variance  skewness  curtosis  entropy
0 -7.042100  -13.7731 -5.286100  -8.5482
1 -5.393056   12.9516  0.949522   2.4495

✅ Banknote_instance_pos is within Onestep bounds.
✅ Banknote_instance_pos is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

   variance  skewness  curtosis  entropy
0    4.6562    7.6398   -2.4243  -1.2384

Onestep_neg - relevant features: (array([0, 1], dtype=int64),)

   variance  skewness  curtosis  entropy
0    4.2458    1.1981   -5.2861  -8.5482
1    6.8248   12.9516   17.9274   2.4495

Twostep_neg - relevant features: (array([0, 1], dtype=int64),)

   variance  skewness  curtosis  entropy
0    4.2458    1.1981   -5.2861  -8.5482
1    6.8248   12.9516   17.9274   2.4495

✅ Banknote_instance_neg is within Onestep bounds.
✅ Banknote_instance_neg is within Twostep bounds.
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

In [ ]:
# # Load Dataset
# dataset_name = ['Iris', 'Wine', 'Vertebral-Column', 'Pima', 'Parkinsons', 'Breast_Cancer', 'Blood_Transfusion', 'Ionosphere', 'Glass', 'Climate', 'Modeling', 'Banknote']#, Sonar
# for dataset in dataset_name:
#     scaler = joblib.load(f'models/{dataset}_scaler.pkl')
#     loaded_data = np.load(f'{dataset}_results/pos_explanations_0.25.npz')
#     onestep_pos = loaded_data['pos_exp_onestep'].round(12)
#     twostep_pos = loaded_data['pos_exp_twostep'].round(12)
    
#     loaded_data = np.load(f'{dataset}_results/neg_explanations_0.25.npz')
#     onestep_neg = loaded_data['neg_exp_onestep'].round(12)
#     twostep_neg = loaded_data['neg_exp_twostep'].round(12)
#     X_test = pd.read_csv(f'{dataset}_results/{dataset}_X_test_predicted.csv').round(12)
    
#     print(f'\n\n#################### {dataset.upper()} ####################')
#     # Find 2 Onestep smallest explanations
#     counts = np.sum((onestep[:, :, 0] == 0) & (onestep[:, :, 1] == 1), axis=1)
#     min_index = np.argsort(counts)[-2:]
#     onestep = onestep[min_index]

#     # Find 2 Twostepstep smallest explanations
#     counts = np.sum((twostep[:, :, 0] == 0) & (twostep[:, :, 1] == 1), axis=1)
#     min_index = np.argsort(counts)[-2:]
#     twostep = twostep[min_index]
#     for i in range(2):

#         #Find PositiveInstance covered by both Onestep and Twostep
#         instances_onestep = scaler.inverse_transform(mymetrics.calculate_coverage(X_test,onestep[i]).values[:,:-1])
#         instances_twostep = scaler.inverse_transform(mymetrics.calculate_coverage(X_test,twostep[i]).values[:,:-1])
#         instance = np.array([row for row in instances_onestep if any(np.all(row == instances_twostep, axis=1))])[0]
#         instance_df = pd.DataFrame(data=instance.reshape(1,-1),columns=None)
#         display(instance_df)

#         #Onestep
#         onestep_exp = scaler.inverse_transform(onestep[i].T)
#         onestep_df = pd.DataFrame(data=onestep_exp,columns=None)
#         print(f'Onestep_{i} - relevant features: {np.where((onestep[i] != [onestep[i].min(), onestep[i].max()]).any(axis=1))}')
#         #print(onestep[i])
#         display(onestep_df)

#         #Twostep
#         twostep_exp = scaler.inverse_transform(twostep[i].T)
#         twostep_df = pd.DataFrame(data=twostep_exp,columns=None)
#         print(f'Twostep_{i} - relevant features: {np.where((twostep[i] != [twostep[i].min(), twostep[i].max()]).any(axis=1))}')
#         #print(twostep[i])
#         display(twostep_df)

#         min_bounds = np.min(onestep_exp, axis=0)  # Minimum values per feature
#         max_bounds = np.max(onestep_exp, axis=0)  # Maximum values per feature
#         within_bounds = np.all((instance >= min_bounds) & (instance <= max_bounds))
    
#         if within_bounds:
#             print(f"✅ {dataset}_instance_{i} is within Onestep bounds.")
#         else:
#             print(f"❌ {dataset}_instance_{i} is OUTSIDE Onestep bounds.")

#         min_bounds = np.min(twostep_exp, axis=0)  # Minimum values per feature
#         max_bounds = np.max(twostep_exp, axis=0)  # Maximum values per feature
    
#         within_bounds = np.all((instance >= min_bounds) & (instance <= max_bounds))
    
#         if within_bounds:
#             print(f"✅ {dataset}_instance_{i} is within Twostep bounds.")
#         else:
#             print(f"❌ {dataset}_instance_{i} is OUTSIDE Twostep bounds.")
#         print('----------------------------------------------------------------------------------------------')
#         print('----------------------------------------------------------------------------------------------')