In [1]:
import pandas as pd
import numpy as np

In [30]:
df = pd.DataFrame(columns=[
    'Metric',
    'ANCHORS_MEAN',
    'ANCHORS_STD',
    'TWOSTEP_MEAN',
    'TWOSTEP_STD',
    'MEAN_DIFF_%',
    'STD_DIFF_%',
    'POINTWISE_MEAN_%',
    'POINTWISE_STD_%',
    'ANCHORS_ERROR_RATE_MEAN%',
    'ANCHORS_ERROR_RATE_STD%'])

df

Empty DataFrame
Columns: [Metric, ANCHORS_MEAN, ANCHORS_STD, TWOSTEP_MEAN, TWOSTEP_STD, MEAN_DIFF_%, STD_DIFF_%, POINTWISE_MEAN_%, POINTWISE_STD_%, ANCHORS_ERROR_RATE_MEAN%, ANCHORS_ERROR_RATE_STD%]
Index: []

In [31]:
for dataset_name in ['Iris', 'Wine', 'Vertebral-Column', 'Pima', 'Parkinsons', 'Breast_Cancer', 'Blood_Transfusion', 'Ionosphere', 'Glass', 'Climate', 'Modeling', 'Banknote', 'Sonar']:
    original_dataset_df = pd.read_csv(f'Anchors_vs_Twostep_Results/Original_{dataset_name}_results.csv')
    artificial_dataset_df = pd.read_csv(f'Anchors_vs_Twostep_Results/Artificial_{dataset_name}_results.csv')
    print(f'Dataset: {dataset_name}')
    print('Original:')
    display(original_dataset_df)
    print('Artificial:')
    display(artificial_dataset_df)
    print('-------------------------')
    print('-------------------------\n\n')

Dataset: Iris
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.049757,0.037697,0.021891,0.004479,-56.004336,-88.119490,-18.398257,66.590903,NaN,NaN
1,Size,2.017699,0.651510,2.539823,0.498412,25.877193,-23.499029,41.961652,62.714031,NaN,NaN
2,Ranges_Sum,2.879999,0.417073,2.522860,0.444553,-12.400643,6.588762,-10.463147,21.187385,NaN,NaN
3,Coverage,27.823009,15.442861,35.044248,15.350991,25.954198,-0.594904,125.297357,258.385723,0.116108,0.629317

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,30.362832,18.609191,19.955752,12.42563,-34.275721,-33.228533,-14.762413,62.113444,2.926282

-------------------------
-------------------------


Dataset: Wine
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.182832,0.059813,0.053229,0.009428,-70.886548,-84.236795,-68.414338,10.033352,NaN,NaN
1,Size,2.179104,0.420567,7.738806,1.748898,255.136986,315.842594,263.432836,94.225428,NaN,NaN
2,Ranges_Sum,11.640969,0.233075,8.348670,0.766510,-28.282004,228.868973,-28.238576,6.878127,NaN,NaN
3,Coverage,30.514925,15.056478,1.223881,0.642311,-95.989239,-95.733986,-93.902514,10.404257,0.773693,3.872943

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,22.171642,10.013816,1.097015,0.295978,-95.052171,-97.044303,-93.61388,5.06739,4.942249

-------------------------
-------------------------


Dataset: Vertebral-Column
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.051231,0.058770,0.027819,0.006842,-45.699360,-88.358219,-8.776553,45.989777,NaN,NaN
1,Size,2.351931,1.360292,3.562232,1.347940,51.459854,-0.908001,95.565093,125.651389,NaN,NaN
2,Ranges_Sum,4.873261,1.153350,4.445362,1.206549,-8.780534,4.612548,1.990764,57.663182,NaN,NaN
3,Coverage,67.969957,34.036385,27.888412,22.513620,-58.969502,-33.854256,-33.045704,99.631248,13.89127,7.406609

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,39.858369,20.188843,19.785408,9.651274,-50.360719,-52.195014,-22.734673,186.335486,0.816092

-------------------------
-------------------------


Dataset: Pima
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.053620,0.059744,0.036324,0.006247,-32.256891,-89.543184,4.874187,50.783701,NaN,NaN
1,Size,2.593750,1.459486,5.098958,1.246773,96.586345,-14.574511,159.810475,150.822012,NaN,NaN
2,Ranges_Sum,6.711978,0.711684,4.786591,0.802314,-28.685834,12.734492,-27.798041,14.942562,NaN,NaN
3,Coverage,134.892361,91.708185,15.515625,15.188049,-88.497773,-83.438720,-37.965320,270.131530,16.570415,10.467677

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,26.739583,19.637025,2.282986,2.087859,-91.462148,-89.367743,-69.714133,71.440647,4.540429

-------------------------
-------------------------


Dataset: Parkinsons
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.281826,0.182954,0.072140,0.019317,-74.402496,-89.441508,-65.597814,18.894722,NaN,NaN
1,Size,2.197279,0.489890,10.544218,4.775549,379.876161,874.819888,401.303855,243.873730,NaN,NaN
2,Ranges_Sum,21.026325,0.494166,16.093553,2.998807,-23.459984,506.842028,-23.418691,14.433720,NaN,NaN
3,Coverage,41.040816,23.587694,2.210884,2.469491,-94.612962,-89.530596,-90.410756,23.274276,7.914695,7.598262

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,35.639456,20.824157,1.29932,0.713475,-96.354266,-96.573809,-92.266201,11.630241,6.24813

-------------------------
-------------------------


Dataset: Breast_Cancer
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,1.295220,0.201852,0.135784,0.016179,-89.516524,-91.984857,-89.264190,2.110295,NaN,NaN
1,Size,2.105386,0.349833,23.229508,3.296264,1003.337041,842.239261,1024.238876,203.693228,NaN,NaN
2,Ranges_Sum,28.678219,0.428143,14.879066,4.067845,-48.117190,850.113105,-48.109057,14.202501,NaN,NaN
3,Coverage,100.470726,35.008944,1.060890,0.400283,-98.944081,-98.856625,-98.749097,1.002448,1.170384,2.380564

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,22.590164,18.024267,1.0,0.0,-95.573295,-100.0,-89.682735,13.983324,38.092373

-------------------------
-------------------------


Dataset: Blood_Transfusion
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.013988,0.004750,0.015467,0.003802,10.569962,-19.950029,15.028186,34.480681,NaN,NaN
1,Size,1.008913,0.151965,1.044563,0.230809,3.533569,51.882337,4.203803,23.513014,NaN,NaN
2,Ranges_Sum,3.495757,0.184095,3.294013,0.107471,-5.771104,-41.621972,-5.490167,6.214327,NaN,NaN
3,Coverage,333.081996,123.391283,520.848485,90.598526,56.372452,-26.576234,100.834267,143.790518,23.605173,2.93338

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,67.764706,19.548693,54.807487,10.036583,-19.120896,-48.65855,-8.362572,46.969078,0.409602

-------------------------
-------------------------


Dataset: Ionosphere
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.802501,0.330121,0.148758,0.018745,-81.463180,-94.321813,-77.187801,11.763862,NaN,NaN
1,Size,3.034091,0.420557,26.193182,4.658467,763.295880,1007.690104,780.776515,206.568375,NaN,NaN
2,Ranges_Sum,31.700945,0.574810,17.544719,2.081511,-44.655534,262.121257,-44.632390,6.687838,NaN,NaN
3,Coverage,16.469697,21.157039,1.015152,0.149992,-93.836247,-99.291052,-58.334680,45.370733,19.248498,24.368215

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,19.011364,16.15678,1.0,0.0,-94.739988,-100.0,-69.302325,40.67212,10.755216

-------------------------
-------------------------


Dataset: Glass
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.054948,0.067179,0.034051,0.006660,-38.031352,-90.085902,-15.317862,37.476229,NaN,NaN
1,Size,2.043478,1.053523,4.018634,1.089031,96.656535,3.370384,127.070393,101.076978,NaN,NaN
2,Ranges_Sum,7.984409,0.663779,6.181652,0.594722,-22.578461,-10.403538,-21.822340,11.979441,NaN,NaN
3,Coverage,64.273292,40.388330,26.186335,23.254254,-59.257828,-42.423335,79.551947,934.031725,3.561032,6.097938

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,32.372671,24.173498,1.571429,1.078959,-95.145817,-95.536604,-82.248303,40.660228,3.528304

-------------------------
-------------------------


Dataset: Climate
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.092949,0.137453,0.071778,0.010728,-22.776830,-92.194952,11.158492,43.389456,NaN,NaN
1,Size,1.696296,1.780307,11.118519,2.436508,555.458515,36.858873,774.701477,371.026851,NaN,NaN
2,Ranges_Sum,17.084913,1.025932,11.766112,1.162665,-31.131564,13.327719,-30.791114,8.980179,NaN,NaN
3,Coverage,132.622222,70.698372,1.012346,0.110423,-99.236670,-99.843811,-95.810860,17.498144,4.120641,11.351993

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,48.101235,19.070684,1.004938,0.070099,-97.910785,-99.632425,-95.161921,14.540684,0.504212

-------------------------
-------------------------


Dataset: Modeling
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.038509,0.037044,0.023366,0.005959,-39.321824,-83.914155,8.892668,63.967685,NaN,NaN
1,Size,2.333333,1.472894,2.504950,1.168541,7.355021,-20.663639,59.125413,118.427989,NaN,NaN
2,Ranges_Sum,3.685543,0.825856,3.534595,0.622437,-4.095700,-24.631288,2.490767,36.011094,NaN,NaN
3,Coverage,66.303630,56.703446,37.805281,27.688002,-42.981583,-51.170512,79.397647,333.742552,22.348622,25.948973

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,32.752475,23.010432,22.155116,18.951885,-32.355905,-17.637855,-20.017896,86.472462,1.743542

-------------------------
-------------------------


Dataset: Banknote
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,0.032521,0.020142,0.022910,0.004074,-29.551258,-79.773574,1.985791,62.321738,NaN,NaN
1,Size,2.499514,1.040132,2.725948,0.461035,9.059098,-55.675365,39.974085,83.390226,NaN,NaN
2,Ranges_Sum,2.649853,0.483810,2.478158,0.133893,-6.479416,-72.325370,-2.937699,20.977980,NaN,NaN
3,Coverage,130.264334,88.472394,49.596696,36.076929,-61.926113,-59.222388,-12.868302,188.011635,1.509462,6.857123

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,23.749271,14.177183,13.59378,5.08243,-42.761273,-64.150634,-10.63892,133.706378,5.519189

-------------------------
-------------------------


Dataset: Sonar
Original:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE_MEAN%,ANCHORS_ERROR_RATE_STD%
0,Time,4.138793,0.816539,0.297104,0.019707,-92.821480,-97.586524,-92.493932,1.833161,NaN,NaN
1,Size,2.743590,0.436651,51.647436,3.800817,1782.476636,770.447517,1840.277778,391.709665,NaN,NaN
2,Ranges_Sum,57.070382,1.107677,31.856469,2.598200,-44.180381,134.563070,-44.158748,4.679504,NaN,NaN
3,Coverage,3.243590,4.417871,1.000000,0.000000,-69.169960,-100.000000,-32.443540,38.076245,2.075322,7.219884

Artificial:

,Metric,ANCHORS_MEAN,ANCHORS_STD,TWOSTEP_MEAN,TWOSTEP_STD,MEAN_DIFF_%,STD_DIFF_%,POINTWISE_MEAN_%,POINTWISE_STD_%,ANCHORS_ERROR_RATE%
0,Coverage,3.602564,5.504869,1.0,0.0,-72.241993,-100.0,-28.954462,38.099699,3.60777

-------------------------
-------------------------

In [34]:
idx = 3
for dataset_name in ['Iris', 'Wine', 'Vertebral-Column', 'Pima', 'Parkinsons', 'Breast_Cancer', 'Blood_Transfusion', 'Ionosphere', 'Glass', 'Climate', 'Modeling', 'Banknote', 'Sonar']:
    original_dataset_df = pd.read_csv(f'Anchors_vs_Twostep_Results/Original_{dataset_name}_results.csv')
    original_anchors_mean = original_dataset_df['ANCHORS_MEAN'].values[idx]
    original_anchors_std = original_dataset_df['ANCHORS_STD'].values[idx]
    original_twostep_mean = original_dataset_df['TWOSTEP_MEAN'].values[idx]
    original_twostep_std = original_dataset_df['TWOSTEP_STD'].values[idx]
    original_mean_diff = original_dataset_df['MEAN_DIFF_%'].values[idx]
    original_std_diff = original_dataset_df['STD_DIFF_%'].values[idx]
    original_pointwise_mean = original_dataset_df['POINTWISE_MEAN_%'].values[idx]
    original_pointwise_std = original_dataset_df['POINTWISE_STD_%'].values[idx]
    original_anchors_error_rate = original_dataset_df['ANCHORS_ERROR_RATE_MEAN%'].values[idx]
    original_anchors_error_rate_std = original_dataset_df['ANCHORS_ERROR_RATE_STD%'].values[idx]
    print(rf'{dataset_name} & {original_anchors_mean.round(2):.2f} $\pm$ {original_anchors_std.round(2):.2f} & {original_twostep_mean.round(2):.2f} $\pm$ {original_twostep_std.round(2):.2f} & {original_mean_diff.round(2):.2f} $\pm$ {original_std_diff.round(2):.2f} & {original_pointwise_mean.round(2):.2f} $\pm$ {original_pointwise_std.round(2):.2f} & {original_anchors_error_rate.round(2):.2f} $\pm$ {original_anchors_error_rate_std.round(2):.2f}')

Iris & 27.82 $\pm$ 15.44 & 35.04 $\pm$ 15.35 & 25.95 $\pm$ -0.59 & 125.30 $\pm$ 258.39 & 0.12 $\pm$ 0.63
Wine & 30.51 $\pm$ 15.06 & 1.22 $\pm$ 0.64 & -95.99 $\pm$ -95.73 & -93.90 $\pm$ 10.40 & 0.77 $\pm$ 3.87
Vertebral-Column & 67.97 $\pm$ 34.04 & 27.89 $\pm$ 22.51 & -58.97 $\pm$ -33.85 & -33.05 $\pm$ 99.63 & 13.89 $\pm$ 7.41
Pima & 134.89 $\pm$ 91.71 & 15.52 $\pm$ 15.19 & -88.50 $\pm$ -83.44 & -37.97 $\pm$ 270.13 & 16.57 $\pm$ 10.47
Parkinsons & 41.04 $\pm$ 23.59 & 2.21 $\pm$ 2.47 & -94.61 $\pm$ -89.53 & -90.41 $\pm$ 23.27 & 7.91 $\pm$ 7.60
Breast_Cancer & 100.47 $\pm$ 35.01 & 1.06 $\pm$ 0.40 & -98.94 $\pm$ -98.86 & -98.75 $\pm$ 1.00 & 1.17 $\pm$ 2.38
Blood_Transfusion & 333.08 $\pm$ 123.39 & 520.85 $\pm$ 90.60 & 56.37 $\pm$ -26.58 & 100.83 $\pm$ 143.79 & 23.61 $\pm$ 2.93
Ionosphere & 16.47 $\pm$ 21.16 & 1.02 $\pm$ 0.15 & -93.84 $\pm$ -99.29 & -58.33 $\pm$ 45.37 & 19.25 $\pm$ 24.37
Glass & 64.27 $\pm$ 40.39 & 26.19 $\pm$ 23.25 & -59.26 $\pm$ -42.42 & 79.55 $\pm$ 934.03 & 3.56 $\pm$ 6.10
Climate & 132.62 $\pm$ 70.70 & 1.01 $\pm$ 0.11 & -99.24 $\pm$ -99.84 & -95.81 $\pm$ 17.50 & 4.12 $\pm$ 11.35
Modeling & 66.30 $\pm$ 56.70 & 37.81 $\pm$ 27.69 & -42.98 $\pm$ -51.17 & 79.40 $\pm$ 333.74 & 22.35 $\pm$ 25.95
Banknote & 130.26 $\pm$ 88.47 & 49.60 $\pm$ 36.08 & -61.93 $\pm$ -59.22 & -12.87 $\pm$ 188.01 & 1.51 $\pm$ 6.86
Sonar & 3.24 $\pm$ 4.42 & 1.00 $\pm$ 0.00 & -69.17 $\pm$ -100.00 & -32.44 $\pm$ 38.08 & 2.08 $\pm$ 7.22